[2022-03-22 16:18] lorisleiva opened #1 "Implement ArweaveStorageDriver"
Without using Bundlr. Inspired by https://github.com/metaplex-foundation/metaplex/blob/master/js/packages/cli/src/helpers/upload/arweave.ts but needs to works with the identity driver — i.e. can be a keypair or a wallet adapter.

[2022-03-22 16:30] lorisleiva opened #2 "Detect protocol when downloading assets"
Not super urgent but we'll eventually need an extendable way to download assets that are not simply using the `http(s)` protocols. For instance, someone could pass in an `ipfs://` URI and the SDK would need to know how to resolve it.

Having a method such as `addProtocolResolver(protocol, callback)` could be part of the solution.

Currently, the abstract `StorageDriver` deals with downloading sinc

[2022-03-22 16:52] lorisleiva opened #3 "Autogenerate TransactionBuilders"
Could be:

- Inside this repo
- As a separate set of packages with swaggy name. e.g. `intent`, `intent-mpl`, `intent-spl`, etc.
- As part of `solita`

To explore

[2022-03-22 16:53] lorisleiva opened #4 "Autogenerate GpaBuilders"
Similarly to Transaction builders, this could stay in this repo, be extracted into a series of repos or be part of solita. to explore.

[2022-03-22 16:56] lorisleiva opened #5 "Implement AwsStorageBuilder"
Almost done, just need proper testing in Browser + CLI.

[2022-03-22 16:57] lorisleiva opened #6 "Add tests for all storage drivers"
Use mocks using `sinon`?

POC ready for AwsStorageDriver.

[2022-03-22 17:00] lorisleiva opened #7 "Upload multiple files in one go"
Add support for uploading more than one file in the `StorageDriver` abstract class.

Could be with another method or by allowing more than one file to be passed into `upload` using a variadic parameter.

Similarly, we'd need to update the `getPrice` method to accept multiple files or make it more generic by accepting a number of bytes instead.

[2022-03-22 17:11] lorisleiva opened #8 "Recognise MetaplexFile instances in provided JSON and automatically upload them"
Basically simplifying the usage from this:

[code]

To this:

[code]

[2022-03-22 17:16] lorisleiva opened #9 "Implement PinataStorageDriver"
Get inspired by https://github.com/metaplex-foundation/metaplex/blob/master/js/packages/cli/src/helpers/upload/pinata.ts but should work with the identity driver – I.e. with a keypair or a wallet adapter.

[2022-03-22 17:17] lorisleiva opened #10 "Find a good API for retrieving multiple accounts"
- GpaBuilders
- GmaBuilders
- Postpone
- etc.

[2022-03-22 17:19] lorisleiva opened #11 "Refactor SDK's own account definition"
Is having one really necessary or can we just rely on data + public key?

[2022-03-22 17:19] lorisleiva opened #12 "Replace copy/pasted autogenerated file with real token-metadata library"

[2022-03-22 17:22] lorisleiva opened #13 "Refactor signers of transaction builders"
Make it simpler.

For instance `Web3Signer | PublicKey` and PublicKey gets ignored when trying to add as signer.

Or maybe, `Web3Signer | { publicKey: PublicKey, sign(tx: Transaction): void }` so we can make it compatible with `IdentityDrivers` without making them coupled.

Note that transaction builders could end up being auto-generated and extracted from this repo.

[2022-03-22 17:25] lorisleiva opened #14 "Find a way to make the FilesystemDriver work on browser"
If the `NodeFilesystemDriver` gets imported into a web app, compiling will fail because `fs` does not exist.

We need a way to always exclude this in the browser and ideally other implementations of the Filesystem that can be used as a replacement in the browser.

Alternatively, abstracting the filesystem might not bring much value for the SDK for now so we could just remove this driver altogether

[2022-03-22 17:28] lorisleiva opened #15 "Add Error Handling drivers"
Create an abstract and concrete implementation of a driver that can catch and handle errors.

The idea is someone could push their own error handling driver so that when an error occurs it gets sent to Sentry and displayed as a toast to the user. A default dummy driver could simply console log.

[2022-03-22 17:29] lorisleiva opened #16 "Add Logging drivers"
Add an abstract and concrete implementation of drivers that can log things that happen within the SDK and output useful metrics from them.

Some brainstorming needs to happen here to clarify what this would look like.

[2022-03-22 17:32] lorisleiva opened #17 "Implement the updateNft action"
Given an `Nft` object, allows the user to update many aspects of this NFT by providing a partial payload of what they want to update. All attributes of that payload should be flattened (i.e. they can pass "name" instead of "data.name").

Brandon is already working on a PR for this. Since he's very busy with Oddkey at the moment we can merge what he's got and finish the rest. 🙂

[2022-03-23 09:10] lorisleiva opened #19 "Handle batches of wallet approval"
Find a way to improve both the UX and the DevX when signing multiple transactions and messages that simply can't be bulk signed using `signAllTransactions`.

For example, when minting an NFT using Bundlr, it will require 5 approvals:
- One for signing the fund transaction of the first upload (the image)
- One for signing a message allowing Bundlr to upload it.
- One for signing the fund transactio

[2022-03-23 14:58] #17 closed, assigned to nobody

[2022-03-23 17:32] lorisleiva opened #20 "Clean things up before the first alpha"

[2022-03-23 17:33] lorisleiva opened #21 "Write documentation for the alpha release"

[2022-03-25 16:06] thlorenz opened #24 "[chore]: add tests for updateNft action"
The `updateNft` action was added (https://github.com/metaplex-foundation/js-next/pull/18) but has not been tested yet which we'll need to fix.

[2022-03-29 09:24] lorisleiva opened #25 "Refactor API to use Operations, Plans and Plugins"
This PR aims to add a bit of CQRS to the SDK to improve its extendability via plugins.

So far the only things that can be extended are "Drivers" (low-level strategy pattern, so far only abstracting wallet identities and storage providers).

Since operations on Solana are clearly either read or write, using Command and Query handlers fits quite well within the domain of this SDK. It will allow plu

[2022-03-29 09:25] #21 closed, assigned to lorisleiva

[2022-03-31 08:40] #25 closed, assigned to lorisleiva

[2022-04-01 10:53] #12 closed, assigned to lorisleiva

[2022-04-02 08:29] lorisleiva opened #31 "Pass Connection object directly to Metaplex"
We couldn't do that before because the connection did not expose the underlying RPC endpoint.

Thanks to Sammy, now it does: https://github.com/solana-labs/solana/pull/23719

Don't forget to update the documentation.

[2022-04-02 08:41] lorisleiva opened #32 "[Idea] Create Bundler-specific plugins for web apps"
Bundling our own library for browser applications is usually a bad idea because it outputs one large file that cannot be tree-shaken — That's what web3.js does and lots of devs are not happy about it.

However, if we don't, we push the responsibility of polyfilling missing node dependencies to our users which hurts the DX.

This is because most modern web bundlers (such as Webpack 5, Rollup, Vite)

[2022-04-05 09:06] #20 closed, assigned to lorisleiva

[2022-04-05 10:16] #8 closed, assigned to nobody

[2022-04-05 10:19] #7 closed, assigned to thlorenz, lorisleiva

[2022-04-05 11:38] #31 closed, assigned to lorisleiva

[2022-04-06 03:59] lowkeygalactic opened #36 "NPM vs GitHub Package Naming Discrepancy Resulting in Import Error?"
The readme has the user install `npm install @metaplex-foundation/js-next` but then import statement within the JS file is instructed to be `import { Metaplex } from "@metaplex/js-next";`!

The import statement fails for me when I import as stated, but even if I change it to `import { Metaplex } from "@metaplex-foundation/js-next";`, it still is erroring for me. I am running Node V16.

[code]

[2022-04-06 09:51] lorisleiva commented on #36
Hi there 👋

Thanks for raising this, I've just fixed the documentation to include the right import.

Regarding your second issue, it seems like this is due to your application importing the CommonJS version of this library whilst using the ES Module format. Can you give me a bit more context with regards to your application and how it is set up?

[2022-04-06 10:15] anoushk1234 commented on #1
@lorisleiva im trying to implement this and it would help to have some more context of how it must be implemented, maybe some pseudocode.

[2022-04-06 11:04] lorisleiva commented on #1
I'm not sure how yet but I was planning on following a similar approach to [how we do it in the Candy Machine CLI here](https://github.com/metaplex-foundation/metaplex/blob/master/js/packages/cli/src/helpers/upload/arweave.ts).

[2022-04-06 15:42] lorisleiva commented on #19
Done with `Plans`. Needs documenting.

[2022-04-06 15:42] #19 closed, assigned to lorisleiva

[2022-04-06 15:48] lorisleiva commented on #1
If the identity driver is a `KeypairIdentityDriver` then it should be very similar, otherwise, we'd need to find a way to make it work with wallet adapters which would be the hard bit. I'm not sure how to do this right now though, I'd need to dig into it.

[2022-04-06 17:35] lorisleiva opened #40 "Fetch NFTs in bulk"
- Fetch multiple NFTs from an array of mint public keys.
- Fetch all NFTs by owner.
- Refactor NFT to include lazy loaders so that we don't have to download the JSON metadata for all NFTs before returning (bad UX).
- Test
-  Document: Loaders and MetaplexFile

[2022-04-07 07:26] anoushk1234 commented on #24
@brandontulsi the updateNft is giving is this error, is it something im doing wrong or is there an issue with the function
[code]

[code]

the issue seems to be in this line in nft client.ts

[code]

[2022-04-07 07:35] lorisleiva commented on #24
Can you try to add `isMutable: true` when creating the NFT in your tests?

[2022-04-07 14:56] DataKnox opened #41 "Fix issue with uploadMetadata and bundlrStorage driver"
**Environment:**
Node v17.2
Ubuntu 20.04 LTS

**Issue:**
When performing the uploadMetadata operation, the Buffer appears to be passed the KeypairIdentityDriver at some point.

**Sample code:**
`

    const { Metaplex, MetaplexFile, keypairIdentity, bundlrStorage, mockStorage } = require("@metaplex-foundation/js-next");
    const { Connection, clusterApiUrl, Keypair } = require("@solana/web3.js");

[2022-04-07 16:20] lorisleiva commented on #41
Ha yeah sorry I've tested Bundlr on the Browser but I've not had the chance to test it yet on the CLI so that's probably why. I'll take a look when I have a moment. 🙂

[2022-04-07 16:24] DataKnox commented on #41
Note I was able to fix this... sort of. Since Bundlr is receiving a KeypairIdentityDriver, it does have access to the key
pair property. Looking at how the Bundlr client is built, it builds from the secret key property.

In:
../node_modules/@metaplex-foundation/js-next/dist/cjs/drivers/storage/BundlrStorageDriver.js

Change line 143 to zip down to the secretKey
 const bundlr = this.metaplex.identi

[2022-04-07 16:53] DataKnox commented on #41
Submitted a PR after all!

[2022-04-07 16:56] byronmoore04 commented on #36
The application is simply just created from `npm init` with an index.js file I am running. In order to use `import { Metaplex } from "@metaplex-foundation/js-next";`, I added `"type": "module",`. Without changing the "type" to module, the error is `SyntaxError: Cannot use import statement outside a module`. With "type" of module, the error is `SyntaxError: Named export 'Metaplex' not found. The re

[2022-04-08 14:44] #10 closed

[2022-04-08 14:59] #40 closed

[2022-04-08 15:04] DataKnox commented on #41
Issue closed with #42

[2022-04-08 15:04] #41 closed

[2022-04-09 14:03] anoushk1234 opened #44 "UpdateNft sets isMutable to true by default"
When using the updateNft function youll get an error if you dont specify isMutable:false in the UpdateNftOperation params. You can't set isMutable to true once the NFT is created whether you set isMutable to true or false while creating it

Solution would be to set the value to false by default in update params

[2022-04-09 14:04] anoushk1234 commented on #24
Done with pr #38 , you can close this now

[2022-04-10 11:27] #24 closed

[2022-04-10 11:30] lorisleiva commented on #44
Hi there 👋

Thanks for raising this. I can see how this would be confusing but I wouldn't want to create mutable NFTs by default because the SDK should be as secure as possible by default. Mutable NFTs should be explicit. However, the documentation could be improved to make that clearer.

[2022-04-10 11:30] #44 closed

[2022-04-10 12:34] anoushk1234 commented on #44
Yea would be better to mention this in the docs and in the function itself as vs code can point it out

[2022-04-11 01:55] cctdaniel commented on #36
getting the same error as @byronmoore04!

[2022-04-11 13:38] lorisleiva commented on #36
Hmm, this is strange. The `package.json` should be set up properly. Would you be able to share a small public repository that I can use to reproduce the error and see what's going on?

[2022-04-11 13:46] lorisleiva opened #45 "Consolidate Task and Plan APIs"
Between Plans, Steps, Loaders, Operation, OperationHandlers, etc. a few components are trying to tackle asynchronous tasks and they might benefit from being consolidated into one reusable low-level API.

Additionally, this would make it easier to handle AbortSignals since they will all share the same API.

[2022-04-11 13:48] lorisleiva opened #46 "Withdraw money from Bundlr's wallet"
After uploading assets, withdraw the excess money funded using: `withdraw(getBalance() - 5000)` or better yet `withdrawAll` when it's available.

We need to be mindful that if we withdraw after each upload, the `uploadMetadata` operation would need to fund twice, therefore, rendering its current optimisation useless.

[2022-04-11 18:29] pawy opened #47 "error when calling findNftsByCreator"
Hi

I get the following error when I call this two lines:
    const creator = new PublicKey("D9vTmH4hDS66L54dHit7keVWwtEJuyfFG3Ey5hHJRXHH")
    const nfts = await metaplex.nfts().findNftsByCreator(creator);

Error: 410 Gone:  {"jsonrpc":"2.0","error":{"code": 410, "message":"The RPC call or parameters have been disabled."}, "id": "fda19491-5acf-4adf-8dce-899014858bab" }

Same for findNftsByCandyMa

[2022-04-12 09:13] pawy commented on #47
Thanks, so you are using getProgramAccount as well. I was using it before with genesysgo and it gives me this error since the latest RPC update.
Error: 403 Forbidden: Call type exceeds Solana 1.9.13 version limit for max account size.

However the only working rpc with this seems to be quiknode as used in https://magiceden.io/mintlist-tool
All other ways to get a list of mints I found, are no long

[2022-04-12 15:23] thlorenz opened #49 "[chore]: complete a test to verify that data is updated on chain"
Currently tests only check for return value of `create|update Nft` calls which means that they would not break even if those functions wouldn't communicate at all to the programs.

We need to have all tests check for on-chain data. I will add this check to one of the existing tests . This can serve as an example for anyone wanting to do this for the remaining tests as well.

[2022-04-12 15:40] thlorenz opened #50 "[feat]: create candy machine via new SDK"
This will allow setting up a candy machine without any NFTs.
It does not include adding `ConfigLine`s.

[2022-04-12 15:42] thlorenz opened #51 "[feat]: updating the configurations of a Candy Machine."
Provided an initialized candy machine this API will allow to update its configuration.

[2022-04-12 15:43] thlorenz opened #52 "[feat]: add NFTs to an initialized Candy Machine via the new SDK"

[2022-04-12 15:44] thlorenz opened #53 "[feat]: fetching all minted NFTs from a Candy Machine"

[2022-04-12 15:46] thlorenz opened #54 "[feat]: minting from a Candy Machine"

[2022-04-13 17:53] #49 closed

[2022-04-19 08:31] lorisleiva commented on #47
Yes, the default implementations are using `getProgramAccount` to fetch NFTs in bulk. This can be changed by plugins to retrieve NFTs in a different way — such as NFT indexers.

I'll close this since this is a limitation of `getProgramAccount` but I'll make sure to add some better warning/error handling to let developers know what's happening. 🙂

[2022-04-19 08:31] #47 closed

[2022-04-19 08:36] lorisleiva commented on #45
Progress has been made here by creating the `Task` type and the `useTask` function to create a new task given a callback.

Operation handlers are simple callbacks that will be used within the task so that's how we've consolidated the two.

The next refactoring step (low priority) will be to consolidate tasks with `Plan`s and their `Step`s. My gut feeling is that a `Step` should be a `Task` with so

[2022-04-21 07:43] lorisleiva opened #65 "Error [ERR_MODULE_NOT_FOUND] importing { Metaplex } from "@metaplex-foundation/js-next""
### Discussed in https://github.com/metaplex-foundation/js-next/discussions/63

<div type='discussions-op-text'>

<sup>Originally posted by **katewayo** April 20, 2022</sup>
Hi! Hope all is well. I'm building a node + express server application that's trying to call the new API. I don't have any issues when importing things like @solana/web3.js and bip39, but unfortunately I'm getting an error at

[2022-04-21 08:09] lorisleiva commented on #65
Answered here: https://github.com/metaplex-foundation/js-next/discussions/63#discussioncomment-2607067

[2022-04-21 08:09] #65 closed

[2022-04-21 09:18] lorisleiva opened #66 "Parse transaction errors using Cusper when applicable"
This requires some program knowledge and a mapping between instruction number and program. Maybe introducing a collection of `ProgramManifest` stored on the Metaplex instance could be an elegant way to solve this.

[2022-04-21 09:30] lorisleiva opened #67 "Move getProgramAccount to RpcDriver"
Currently, it's being used directly inside the `gpaBuilder` when it should delegate to the RpcDriver.

[2022-04-21 09:31] lorisleiva opened #68 "Support minting limited editions from a master edition NFT"
Add a new operation and operation handler to support minting limited editions.

[2022-04-22 14:39] #68 closed

[2022-04-22 16:33] #11 closed

[2022-04-25 15:11] lorisleiva opened #73 "Write a regression test for non-writable payer"
[An issue was discovered](https://github.com/metaplex-foundation/metaplex-program-library/issues/383) on the autogenerated Token Metadata JS API that was missed on the SDK tests because, by default, the payer is the current identity which is also the fee payer which is always writable.

Let's write a regression test that makes sure our tests fail if this happens again.

[2022-04-26 10:54] #73 closed

[2022-04-26 11:17] lorisleiva opened #76 "FindNftByMint fails if the URI is invalid"
That's because `findNftByMint` will automatically run the `metadataTask` which loads the JSON metadata in the NFT object. When the URI is invalid, that task rightfully fails by throwing an error (ensuring the right status on the task).

However, users should still be able to access NFTs with invalid URIs. For instance, they might access an NFT they are planning on burning (See https://github.com/m

[2022-04-26 11:48] #76 closed

[2022-05-01 22:23] zkhalapyan opened #84 "Can't import @metaplex-foundation/js-next: Error: Directory import"
Trying to import the NPM library into my TypeScript project: `import { Metaplex, keypairIdentity } from "@metaplex-foundation/js-next";`

[2022-05-01 22:32] zkhalapyan opened #85 "uploadMetadata(...) fails: MetaplexError: Bundlr > Failed to Initialize Bundlr"
See code below; fails at `uploadMetadata(...)`

[code]

Crash logs:

[code]

<img width="976" alt="Screen Shot 2022-05-01 at 3 32 29 PM" src="https://user-images.githubusercontent.com/796815/166167166-8dc36ba6-2fab-4ee3-b94a-c4c43d71fdcb.png">

[2022-05-02 09:25] lorisleiva opened #86 "Registry failed to return tag "buffer" with Yarn 2 and 3"
A nested dependency uses the `npm:buffer` alias as a dependency without providing a version range which causes the SDK installation to fail on Yarn version 2 and 3 (See https://github.com/yarnpkg/berry/issues/1816).

[code]

The dependency that uses that tag is https://github.com/Bundlr-Network/arbundles which is a dependency of https://github.com/Bundlr-Network/js-client

### Dependency tree

- `

[2022-05-02 10:54] #67 closed

[2022-05-02 10:56] lorisleiva commented on #84
Hi there 👋

Thanks for raising this. Could you please provide the following information?

- Which SDK version are you using?
- Are you using a bundler such as Webpack?
- Can you give me the steps to reproduce this?

[2022-05-02 10:58] lorisleiva commented on #85
Hi 👋

Could you please provide the steps to reproduce this error?

[2022-05-02 15:52] #86 closed

[2022-05-02 16:36] lorisleiva commented on #86
Fix released in version `0.7.3`. 🚀

Cc @austbot (FYI)

[2022-05-03 18:05] zkhalapyan commented on #85
@lorisleiva is the code above not enough? I am running it inside next.js. If you copy/paste this, it should repro.

[2022-05-03 21:06] lorisleiva commented on #85
I'm afraid not. I need to know how the SDK is being bundled and which build ends up being used by the application. If you can just let me know the exact steps to replicate the issue via a brand new next.js app, that'd be super helpful.

[2022-05-04 12:37] lorisleiva commented on #66
Fixed in #88

[2022-05-04 12:37] #66 closed

[2022-05-04 16:34] #50 closed

[2022-05-05 14:55] lorisleiva opened #91 "Small candy machine changes"
As discussed with @thlorenz on a call:

*   Remove `try` prefixes in methods. Not comparable to Rust.
*   Refactor `tryConvertToPublickKey` to something more generic that accepts more value like  `toPublicKey`.
*   Provide a DateTime input type that includes multiple formats like `Date | number | string`.
*   Refactor `UnreachableCaseError` to a `SdkError` which extends `MetaplexError`. Give the u

[2022-05-05 15:01] lorisleiva commented on #14
The `FilesystemDriver` is not a priority for now and has been removed because it ended up being unused.

[2022-05-05 15:01] #14 closed, assigned to nobody

[2022-05-05 15:01] #13 closed

[2022-05-05 19:16] zkhalapyan commented on #85
Thanks for getting back — If you do a clean next-js install with TypeScript support, then run npm install on js-next, and run the code above, it will repro. If it helps, here are my packages/setup:

[code]

[code]

[code]

[2022-05-05 19:22] zkhalapyan commented on #84
Thanks for adding more context @ad0ll!

@lorisleiva if you need help with creating next js app, here is a good [starter](https://nextjs.org/docs/api-reference/create-next-app).

Essentially, here are the steps:
1.  Run `npx create-next-app@latest --ts`
2. Then run `npm install @metaplex-foundation/js-next`
3. Open `index.tsx`
4. Then you try to import via code, `import { Metaplex, keypairIdentity

[2022-05-05 19:48] mjzuppe opened #92 "Node 18.1 Named export 'EventEmitter' not found"
Hi @lorisleiva, was going in to test this with a vanilla node project (v18.1) (working example to reproduce: https://github.com/mjzuppe/js-next-er) and have two issues:

1.) I get ES modules errors, but I can work around by running `node --experimental-specifier-resolution=node`
2.) I'm blocked on this error:

[code]

seems to be originating from` /js-next/node_modules/@metaplex-foundation/js-next

[2022-05-06 15:00] mjzuppe commented on #92
Thanks for the quick response. Using tsc didn't seem obvious from the readme but got it running by swapping js for ts, adding a basic tsconfig.json, and compiling. Starter code is [here](https://github.com/mjzuppe/js-next-er) if anyone else comes across this.

[2022-05-06 15:00] #92 closed

[2022-05-06 17:41] na commented on #84
I was getting the same error and got this working with Nextjs using require instead of import.

[code]

[2022-05-06 19:30] zkhalapyan commented on #85
Yeh, that could very much be the reason. I am using `require()` because of the issue I reported here, https://github.com/metaplex-foundation/js-next/issues/84. I guess we could try to fix that first and I can try to test this out.

[2022-05-06 19:31] zkhalapyan commented on #84
@na checkout issue #85... I am little afraid that using require could cause other problems down the line.

[2022-05-08 20:26] #91 closed

[2022-05-10 08:11] lorisleiva commented on #85
Hey guys, still working on a fix for this. Bear with me. 😊

[2022-05-10 08:45] lorisleiva commented on #84
Hi there 👋

I've managed to fix Next.js issues and released version `0.8.2`.

Would you be able to try it out and let me know if you encounter any other issues?

In the meantime, I'll be working on adding a "getting started with Next.js" example on [the example repo](https://github.com/metaplex-foundation/js-examples).

[2022-05-10 08:46] lorisleiva commented on #85
Could you try the new version `0.8.2` with NextJs whilst using `import` statements only and let me know if that works for you?

[2022-05-10 20:52] lorisleiva opened #100 "Rename API methods in the Candy Machine module"
As per PR #99, this is a reminder that the same needs to happen for the Candy Machine module.

[code]

This only affects the methods of the Candy Machine clients, the name of the operations themselves should stay the same since they are exported without additional context.

[2022-05-11 09:01] lorisleiva opened #101 "Add support for "using NFTs""
The Token Metadata program allows for NFTs to be "usable". Meaning, one can set a number of "uses" an NFT has and decrease it on-chain via the `Utilize` instruction.

The aim of this issue is to support "utilizing" NFTs in the SDK within the NFT module.

The API might look something like this:

[code]

[2022-05-11 10:12] lorisleiva opened #102 "Add lower-level API methods for accessing mint addresses of NFTs by X"
If we wanted to fake paginate NFTs using `getProgramAccounts` it wouldn't be very efficient with the SDK because the `findAllByOwner` and `findAllByCreator` methods return NFTs with the metadata account.

Ideally, to paginate, we'd get the bare minimum which means getting a list of mint addresses we can break into pages.

Adding the following API methods would provide better building blocks for pa

[2022-05-11 10:18] lorisleiva opened #103 "Create input type for NFTs"
It would be nice to have a defined type for accessing an NFT that's not just the `Nft` class itself.

Something like:

[code]

This would allow us to have a more versatile API. For instance,

[code]

[2022-05-12 13:33] myyellowshoe opened #104 "Funding Bundlr"
How would i fund Bundlr through the storage driver? Any examples?

I could pull in the external bundlr package and to it that way but just trying to avoid having 2 of the same packages deps to manage.

Thanks so much for the great work so far!

[2022-05-12 14:02] lorisleiva commented on #104
Hi there 👋

If you know you're using the Bundlr Storage driver you can cast it in TypeScript like so:

[code]

Which mean you now have access to useful public methods such as:

[code]

I hope this helps.

[2022-05-12 14:21] #104 closed

[2022-05-17 16:31] thlorenz opened #108 "feat: update candy machine authority"

[2022-05-17 17:03] thlorenz opened #109 "feat: add config line to candy machine"

[2022-05-18 05:44] mavarazy opened #110 "Malformed NFT's might cause an error on metadataTask.run"
Some nfts returned by `findAllByMintList` might nor follow the Metaplex standard and return an error:
[code]

In my case this was for [MSRMcoVyrFxnSgo5uXwone5SKcGhT1KEJMFEkMEWf9L](https://explorer.solana.com/address/MSRMcoVyrFxnSgo5uXwone5SKcGhT1KEJMFEkMEWf9L/metadata)

[code]
I'm not sure If this is expected and should be handled by the client, or by the library.

[2022-05-18 14:05] lorisleiva commented on #110
Hi there 👋

Thanks for raising this issue.

Aside from maybe a better error message, what sort of behaviour would you expect from this SDK?

[2022-05-18 18:53] na commented on #84
After getting the latest this directory import error does not occur any longer.

[2022-05-18 20:02] #84 closed

[2022-05-18 20:02] lorisleiva commented on #84
Thank you for confirming this!

[2022-05-20 17:36] #108 closed

[2022-05-23 08:12] cctdaniel opened #112 "Error: Invalid public key input when running findAllByCreator"
getting `Error: Invalid public key input` when running `const nfts = await mx.nfts().findAllByCreator(new PublicKey("3Fht1Ue3xLWEXiTjoFSo71YaRdqNMq5Qk9UbGkTXAZrT"));`

this is a legit pubkey as seen from https://explorer.solana.com/address/3Fht1Ue3xLWEXiTjoFSo71YaRdqNMq5Qk9UbGkTXAZrT

upon further debugging, somehow there's a buffer with length 679 being passed to new PublicKey() and hence the err

[2022-05-23 08:29] lorisleiva commented on #112
Hi there 👋

Thanks for raising this, I'll debug this as soon as I can and report back here.

[2022-05-23 20:22] Shusanta opened #113 "walletAdapterIdenity is showing type error when used with useWallet."
<img width="310" alt="Screen Shot 2022-05-23 at 1 17 47 PM" src="https://user-images.githubusercontent.com/26209974/169899574-eaa2610f-dc64-47b9-8e51-d1faf7f4f46b.png">
walletAdapterIdenity is showing a type error when used with useWallet.
useWallet is being imported from  '@solana/wallet-adapter-react'

[2022-05-25 10:50] lorisleiva opened #114 "Add ConversionRate drivers"
Add drivers that can fetch conversion rates between currencies and tokens.

[2022-05-25 10:54] lorisleiva opened #115 "Implement derived signer pattern for better web UX"
See https://github.com/GlassEaters/signflow/tree/main/packages/derive

[2022-05-25 14:51] laurensV commented on #54
any ETA on this feature? would love to have this!

[2022-05-25 14:59] laurensV commented on #53
Don't we already have this feature with the function `metaplex.nfts().findAllByCandyMachine`?

[2022-05-25 16:19] lorisleiva commented on #112
Okay, so I've been able to reproduce the error.

The error is not very clear, but the issue is not about the provided PublicKey but about the `PublicKey`s found by the `getProgramAccounts` call.

That call fetches all Metadata accounts where the first creator is equal to the public key provided and they slice the data to only take the public key of the mint accounts.

It then take that slice of da

[2022-05-26 15:51] #113 closed

[2022-05-26 16:38] thlorenz commented on #54
No exact ETA .. I'm wrapping up _upload_ first and we'll get to minting after that.

[2022-05-26 16:49] lorisleiva commented on #53
I added it there until we had the candy machine module basically.

But ideally, we should keep `nfts().findAllByCreator(...)` and move `nfts().findAllByCandyMachine(...)` to the candy machine module as something like `candyMachines().findAllMintedNfts(...)`.

[2022-05-29 10:37] StephanGerbeth commented on #85
In version 0.9.0 it only works with require calls. If i use mjs with imports, i will get this error

[code]

[2022-05-31 12:57] mwilc0x opened #121 "Missing export when importing mpl-token-metadata"
Hi Metaplex team,

Am seeing a missing export when importing in a deno build:

`
error: Uncaught SyntaxError: The requested module '/v84/@metaplex-foundation/mpl-token-metadata@2.1.2/deno/mpl-token-metadata.js' does not provide an export named 'Edition'
    at <anonymous> (https://esm.sh/v84/@metaplex-foundation/js-next@0.9.0/deno/js-next.js:8:67021)
`

Searching for the import:
https://github.com

[2022-05-31 15:38] mwilc0x commented on #121
I might be importing it wrong. I am using the [importMap](https://deno.land/manual/linking_to_external_code/import_maps) feature of deno:

`"@metaplex-foundation/js-next": "https://esm.sh/@metaplex-foundation/js-next"`

[2022-05-31 16:05] lorisleiva commented on #121
I've never used esm.sh before so I can't help there I'm afraid. 😕

[2022-06-01 13:38] #51 closed, assigned to thlorenz

[2022-06-02 16:28] kunaljaydesai opened #124 "js-next not compatible with latest @solana/web3.js version"
`js-next` library is not compatible with the current version of @solana/web3.js. [Here is a minimal reproducible example](https://github.com/kunaljaydesai/metaplex-dependency)

I get an error message like:
<img width="1290" alt="Screen Shot 2022-06-02 at 9 25 49 AM" src="https://user-images.githubusercontent.com/7613905/171678321-47f390c1-1e2b-4190-a963-a5d38bda1b16.png">

I believe the errors occ

[2022-06-04 11:34] lorisleiva commented on #124
Hi there 👋

Thanks for raising this. We've already fixed this but we haven't published a new version yet.

We'll do that asap.

[2022-06-05 14:56] #52 closed

[2022-06-05 14:56] #109 closed

[2022-06-07 17:33] aaronlinsky commented on #46
@lorisleiva - Is there a way to not have the bundlr funds automatically withdraw? I like to avoid the separate transaction with every call, so I just load up a balance on my bundlr instance and let it draw down over many txns.

[2022-06-08 18:25] 0xChief opened #129 "'TypeError: Invalid URL' when making Metaplex object"
I'll always get `TypeError: Invalid URL` when I create the Metaplex object even when using a known good Connection.

Example code in Node. Running Node 18.2 locally
`
this.connection = new Connection(clusterApiUrl('devnet'));
 `
`  this.metaplex = Metaplex.make(this.connection)`

I'll get the error when I'm trying to create the metaplex object. `TypeError: Invalid URL`. I can confirm that the conn

[2022-06-08 18:44] 0xChief commented on #129
A more specific call stack using `tsc` since I saw another bug that mentioned using`tsc` fixed it for them
[code]

[2022-06-09 16:19] lorisleiva commented on #129
Are you using the latest version of `@solana/web3.js`?

The `resolveClusterFromConnection` method relies on the existence of `connection.rpcEndpoint` which was added to the `Connection` class fairly recently.

[2022-06-09 16:44] 0xChief commented on #129
Updating to v1.43.6 did fix it. Thanks for the help

[2022-06-09 16:44] #129 closed

[2022-06-12 14:16] lorisleiva commented on #124
This was fixed in version `0.10.0` 🚀

[2022-06-12 14:16] #124 closed

[2022-06-14 11:00] jon890 opened #132 "AbortController is not a constructor"
I don't know resolving this problem.
Maybe webpack bug..?
I'm using
[code]

Here is my code
[code]

and this is error
[code]

[2022-06-14 11:52] mayognaise commented on #132
Hi 👋  same here 🙏

[2022-06-14 13:42] lorisleiva commented on #132
Hey 👋  Thanks for raising this! Are you just using a standard Next.js app so I can try to reproduce?

[2022-06-14 13:46] mayognaise commented on #132
@lorisleiva Hi! yes just using a standard Next.js app 😄
I was digging the code and I am wondering it is because this part is not returning anything:

https://github.com/metaplex-foundation/js/blob/main/src/plugins/nftModule/findNftsByCandyMachine.ts#L30-L36

[2022-06-14 15:21] agtzdimi commented on #132
Hello 👋 it happens to me as well, when I upgraded to "v0.10.0" from "v0.9.0", I am using "Angular" for front-end, "NestJS" for back-end and it is a monorepo bundled with "nx".

Most likely it has to do with the webpack? I can provide more information if it is helpful

[2022-06-14 16:21] lorisleiva commented on #132
Thanks, everyone! I've had a quick look at the code and I think I know what could be causing this. I've released a potential fix in version `0.11.1`. Would you mind trying it out and telling me if it works? I've not had the time to reproduce the issue just yet.

P.S.: The npm package recently got renamed from `@metaplex-foundation/js-next` to `@metaplex-foundation/js`, so make sure you're using th

[2022-06-14 17:13] mayognaise commented on #132
@lorisleiva thank you so much! let me try it now!! 🙏

[2022-06-14 17:35] mayognaise commented on #132
@lorisleiva Thank you so much!
I imported with `yarn add git+https://github.com/metaplex-foundation/js.git#v0.11.1` but since the name is `@metaplex-foundation/js`, it gets error. how can I try the `v0.11.1` ?

[2022-06-14 21:08] tjkyner commented on #132
I was running into this issue as well but upgrading to version `0.11.1` fixed it. Thank you @lorisleiva! 🙏

[2022-06-14 21:52] Steenos commented on #113
I'm still getting this type error as well

[2022-06-14 21:55] Steenos opened #133 "Uninitialized Wallet Adapter"
I get this error following along with the documentation example
<img width="336" alt="Screen Shot 2022-06-14 at 5 51 33 PM" src="https://user-images.githubusercontent.com/13594989/173695827-c0c32d39-c42d-4ec3-8c02-faa50547485e.png">

[2022-06-14 22:31] lorisleiva commented on #132
Great! I'm glad it worked haha. I'll close this issue then.

With regards to the number of NFTs returns by that method, it could be because only two NFTs out of the eight were minted. This method only returns NFTs that were minted from a candy machine. The once still "in the candy machine" do not count as they are technically not NFTs yet.

[2022-06-14 22:31] #132 closed

[2022-06-14 22:37] lorisleiva commented on #113
@Shusanta do you remember how you fixed this in your app? 🙏

[2022-06-15 04:40] jon890 commented on #132
Thanks!

[2022-06-15 05:50] Shusanta commented on #113
@lorisleiva a simple version bump fixed this for me. What version are you on @Steenos ?

[2022-06-15 06:22] mayognaise commented on #132
Ahhh got it!! It totally makes sense. Thank you so much for answering the question 🙏

[2022-06-15 12:53] Steenos commented on #133
Hey! thanks for your help, heres the repo:  https://github.com/Steenos/metaplex-playground

[2022-06-15 21:35] cjohansen11 opened #134 "feePayer not being set in printNewEdition"
I believe there is an issue with the `printNewEdition` method due to the `payer` not being set properly for the `TransactionBuilder`.

## Issue
The `printNewEdition` method accepts a `payer` as part of the `PrintNewEditionSharedInput`. When the transaction is build that `payer` is not converted to the required `feePayer` that the `TransactionBuilder` requires so it gets set to undefined and fails.

[2022-06-16 05:32] kunaljaydesai commented on #124
great, thanks!

[2022-06-16 06:09] mrdhanz opened #135 "Please add Auction, WhiteListedCreator and InitStore"
Hi metaplex developers. in SDK versions before this feature existed, after I migrated to the latest version this feature disappeared. will it be added to this sdk version? but in this latest version it is very easy to use to make NFT and more optimal in its performance.
I hope this functionality is added to the latest version because I like the class structure in this SDK version
Thank you

[2022-06-16 07:37] lorisleiva commented on #135
Hi there 👋

This new SDK is a complete rewrite so we're not planning on re-adding exact classes. Instead, we're rethinking the way our users interact with our SDKs.

I am currently working on integrating the new SDK with the Auction House program but we have no plan to support the previous Auctions program whose feature set has been replaced by Auction House.

That being said, I would love to hear

[2022-06-16 09:25] lorisleiva commented on #134
Hi there 👋

That's a good point, the payer should be set there as well.

However, I suspect this is happening to you because you don't have an "identity" set up in your Metaplex instance because the SDK will default to making the current identity the fee payer for all transactions.

[2022-06-16 09:51] lorisleiva commented on #134
This should now be fixed for `printNewEdition` in version `0.11.4`. 🚀

[2022-06-16 09:51] #134 closed

[2022-06-16 09:52] lorisleiva commented on #46
This shouldn't happen anymore in versions `0.11.x` 🙂

[2022-06-16 09:55] lorisleiva commented on #133
The problem lies here: https://github.com/Steenos/metaplex-playground/blob/main/pages/index.tsx#L8

You've got to give the entire Wallet store for it to work.

[code]

[2022-06-16 09:55] #133 closed

[2022-06-16 14:41] BDANG opened #136 "Metaplex 0.11.x does not work with CRA4"
Appears that metaplex 0.11.x is doing something weird where it's not compatible with CRA4. _The error is not reproducible on CRA5_

The app will start, but the none of the components render (entirely white page). In the console we have an error related to AWS / S3

[code]

This boils down to importing `fs` as an undefined object.

---

### Reproduce:

1. Clone [js-examples](https://github.com/meta

[2022-06-16 15:14] lorisleiva commented on #104
Hey 👋

Yeah sorry this was recently change to `metaplex.storage().driver().bundlr()` due to some core architectural refactoring. 🙂

[2022-06-16 15:17] lorisleiva commented on #136
Hi there 👋

Thanks for reporting this.

It must be a new AWS update which is annoyingly relying on the `fs` node library. I'll dig into it when I have some time. Ideally, I'd like to either extract this AWS plugin to its own package or at least try and minimise the AWS dependency in the main package.

[2022-06-16 17:20] BDANG commented on #136
I was able to unblock myself by upgrading to webpack 5

---

Here's how I did it, in case other devs happen to be stuck

[code]

---

I was able to upgrade & get it working without having eject or use `react-app-rewired`

[2022-06-17 10:33] lorisleiva commented on #45
The new `Task` class now supports all of these features (from `v0.11.5`) and the `Plan` class has been removed. 🎉

[2022-06-17 10:33] #45 closed

[2022-06-17 10:36] lorisleiva commented on #121
Hi there 👋 Just closing this for now since the export is available in the MPL library. Feel free to open a new issue with updated information if you need to. Thank you. 🌹

[2022-06-17 10:36] #121 closed

[2022-06-17 10:39] lorisleiva commented on #85
Hi there 👋

Sorry for the late reply, it's been a busy month.

A lot of changes have been made to the SDK since version `0.9`.

Could anyone please tell me if they have the same issue with the SDK using the latest version `0.11.5`? 🙏

[2022-06-17 10:41] lorisleiva commented on #110
Hi there 👋 I'm closing this for now but feel free to open a new issue with more information on the matter and I'll look into it. Thank you. 🪴

[2022-06-17 10:41] #110 closed

[2022-06-17 14:22] MNaguib2611 commented on #85
Hello Loris ,
Thank you for your continuous support
I am having an issue  with the same method
`const metaplex = Metaplex.make(connection)
    .use(keypairIdentity(keypair))
    .use(bundlrStorage());`

    I was using "@metaplex-foundation/js": "^0.11.1", and I have just switched to "@metaplex-foundation/js": "^0.11.5", but the same error

    `Uncaught (in promise) TypeError: _bundlr_network_cli

[2022-06-17 16:52] MNaguib2611 opened #138 "Error when Calling uploadMetadata method()"
I am getting the below error whenever I try to use the uploadMetadata method() from my react project
i am using other methods like getNftByCreator ()  without any issues
------------
`Uncaught (in promise) TypeError: _bundlr_network_client__WEBPACK_IMPORTED_MODULE_0__ is not a constructor
at BundlrStorageDriver.initNodeBundlr (BundlrStorageDriver.ts:195:1)
at BundlrStorageDriver.initBundlr (Bundlr

[2022-06-17 21:08] grimAgent opened #139 "Feature Request - Find all Edition copies by Master Edition"
Not sure if this is even possible, but it would be pretty nice to be able to query all the copies that have been made out of a master edition.

[2022-06-20 12:52] mrdhanz commented on #138
Keypair wallets only work on nodes, because you implement them on the web. You must use a wallet adapter. so, bundlr need confirmation signature for upload and verify transaction

[2022-06-20 17:43] grimAgent opened #140 "Can't seem to use it on NextJS app"
I installed the library on an existing NextJS app with

`npm install @metaplex-foundation/js`

I then import it with
`import { Metaplex } from "@metaplex-foundation/js";`
And initialize it with
`const metaplex = new Metaplex(connection);`

Without doing anything else, when I load the page where I import the package, I get this runtime error:
[code]

[2022-06-20 18:32] MNaguib2611 commented on #138
thank you for your response
how can I use walletAdapter with the current connected phantom wallet ?

[2022-06-20 18:41] myyellowshoe opened #141 "Setting Collection for NFT"
Bit confused here, I'm trying to add a collection to a NFT i'm creating, but getting an error.
`Cannot read property 'toBytes' of undefined`

I have the address using `PublicKey()`, from web3.js but guessing I'm not formatting it properly somehow else? Thanks for any insight here!

[2022-06-20 19:08] lorisleiva commented on #138
Hey 👋 Whilst typically you'd use the wallet adapter in the browser, you should also be able to handle Keypairs there. I'll try to find time to investigate this issue as soon as I can. Thank you for your understanding. 🌺

[2022-06-20 19:57] MNaguib2611 commented on #138
After using the adapter from [https://github.com/solana-labs/wallet-adapter](url) I was finally able to use the uploadMetadata() and minted my first NFT through react app

I was not able to use the function by using the keypairIdentity, only walletAdapterIdentity worked for me

Thank you @lorisleiva  @mrdhanz  for your help ,I really appreciate it

[2022-06-21 13:13] myyellowshoe commented on #141
Figured out the first part.
Was just a little fuzzy on the needed structure. I imported
`import { Collection } from '@metaplex-foundation/mpl-token-metadata';` and saw the structure from the types.

[code]

Next step is to figure out how to verify collection for an nft i've created.

[2022-06-23 05:34] mrdhanz commented on #140
You already declare the connection from @solana/web3?

[2022-06-23 20:48] lorisleiva commented on #36
Hi there 👋 I'm closing this due to inactivity and because many versions have been published since then but if your problem persists please feel free to open a new issue with the step to reproduce the issue.

[2022-06-23 20:48] #36 closed

[2022-06-24 10:25] #85 closed

[2022-06-24 10:43] lorisleiva commented on #85
Hi all 👋 I was finally able to reproduce and fix this bug. I've even written a regression test for both ESM and CJS exports to make sure this doesn't happen again. Please upgrade to the latest version `0.11.7` and let me know if that fixes it for you.

[2022-06-24 11:28] lorisleiva commented on #140
Hey 👋 It's me again. I'm closing this because I'm pretty sure I've managed to fix this via this PR: https://github.com/metaplex-foundation/js/pull/146.

Please upgrade to the latest version `0.11.7` and let me know if that fixes it for you. 🙏

[2022-06-24 11:28] #140 closed

[2022-06-24 20:39] Steenos opened #147 "Implement Shadow Drive Storage"
Would be a nice addition to storage drivers, https://shdw.genesysgo.com/using-shadow-drive/the-shadow-drive-platform

[2022-06-25 09:36] lorisleiva commented on #147
I agree. Thanks for raising an issue for it. 🙂

[2022-06-30 04:17] nikhilasrani opened #148 "Getting an error `InstructionPackError: Failed to pack instruction data` when trying to create a new NFT"
Hey folks, I'm getting an error when trying to run
`const { nft } = await metaplex.nfts().create({
      uri
    });`
  The upload metadata step works fine and produces a uri with metadata that is identical to the ones that were working with the create NFT step before.

 But when I run the above code, I get the following error

`ParsedProgramError [MetaplexError]: TokenMetadataProgram > Failed to

[2022-06-30 08:38] lorisleiva commented on #148
Hi there 👋  Thanks for raising this. I'll look into this asap. 🙂

[2022-06-30 14:17] lorisleiva commented on #148
I'm afraid I can reproduce this issue. Would you be able to provide a public repository with the minimum amount of code to reproduce this issue?

[2022-06-30 16:34] wfp2002 opened #150 "error only in findAllByOwner 'Assertion failed'"
node_modules/bn.js/lib/bn.js:6
    if (!val) throw new Error(msg || 'Assertion failed');

[2022-06-30 17:46] #150 closed

[2022-06-30 17:46] wfp2002 commented on #150
Error on Bn

[2022-07-01 23:37] nikhilasrani commented on #148
hey @lorisleiva, I figured out the problem. It's rather quite silly, I think the this error starting showing up when we had an empty wallet/ no Solana balance to fund the creation of the NFT.

Once I added some SOL to my wallet, it began working as expected. Thank you for your prompt response and support. I really appreciate it.

Closing this issue with this comment so that maybe it can help other

[2022-07-01 23:37] #148 closed

[2022-07-04 08:21] M4FFS opened #153 "error TS6200: Definitions of the following identifiers conflict with those in another file"
Having trouble running `tsc` on the basic examples shown in in the README

Versions:

[code]

 Any ideas?

Error:

[code]

[2022-07-05 19:50] kevinrodriguez-io opened #155 "Incompatibility with ES2020 BN"
ERROR: Big integer literals are not available in the configured target environment (using VITE)  ("chrome87", "edge88", "es2019", "firefox78", "safari13.1").

Which seems to be caused by transitive dep: `noble-ed25519` used by `arbundles`

[2022-07-06 06:18] jensnowww commented on #150
Hi were you able to solved this issue?

[2022-07-08 04:35] milorue commented on #150
I would also like to know how @wfp2002 you fixed it

[2022-07-08 05:17] jensnowww opened #158 "error only in findAllByOwner 'Assertion failed'"
Hi I'm using version `0.11.6` and `findAllByOwner` doesn't seem to be working.

[code]

I also tried this implementation, same error.

[code]

[2022-07-11 23:36] n0izn0iz commented on #136
Hello, I have the same problem but I can't update webpack, is there a solution ?

I tried to follow the CRA4 example with the `js-next` variant while forcing `@aws-sdk/client-s3` with resolutions to the same version as in the example but I still have the same error

[2022-07-12 16:42] ndrewtl commented on #158
Getting the same issue. Seems to be something in `bn.js`, right? Possibly a dupe of #150 but I saw no resolution there either. Here's my stack trace:
[code]

[2022-07-12 17:16] jnwng commented on #158
ran into this over the weekend too and had a fun debugging session. the issue stems from this `instanceof` call here: https://github.com/metaplex-foundation/js/blob/e8205e7c2dbda1258402602adac94f85804c9be3/src/utils/GpaBuilder.ts#L65-L68 (in most cases, likely the first one trying to check `instanceof PublicKey`).

depending on your `node_modules` layout and how things get packaged, the imported `

[2022-07-12 17:21] jnwng commented on #158
(this is a dupe of #150 but i think this thread has more / better info)

[2022-07-12 23:49] zfaizal2 opened #162 "AbortController is undefined when using Metaplex JS 0.11.7 SDK in a NextJS app"
We’re developing a library that uses the metaplex JS SDK as a dependency. When using this library in a nextJS app, the app errors out with the error below.

When using this with a create-react-app based app however, things work just fine.

[code]

Has anyone seen this before? What are potential steps or avenues to resolve this?

**Versions used**

@metaplex-foundation/js : 0.11.7

next-js: 12.0.7

[2022-07-13 00:36] mayognaise commented on #162
@zfaizal2 Have you tried adding the code below?

next.config.js

[code]

[2022-07-13 08:29] lorisleiva commented on #158
Hey 👋 I've worked on a big refactor of the SDK lately that I will publish as soon as I've got some time to document the changes. I'm hoping that this refactoring could fix this issue since it relies more on types than classes but can't guarantee this. Bear with me on that one. If it doesn't fix it, I'll investigate deeper.

[2022-07-13 15:59] 4akers21 opened #163 "install error"
npm install @metaplex-foundation/js
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
npm WARN ERESOLVE overriding peer dependency
npm WARN While resolving: react-shallow-renderer@16.14.1
npm WARN Found: react@18.0.0
npm WARN node_modules/react
npm WARN   peer react@"18.0.0" from react-native@0.69.1
npm WARN   node_modules/react-native
npm WARN     peer

[2022-07-13 16:15] KobeBlockify commented on #158
Worked for me when I used the wallet as a String, instead of a PublicKey or BN Object!

[2022-07-13 17:16] zfaizal2 commented on #162
@mayognaise Thanks for the suggestion, I tried that but still facing the same errors.

[2022-07-13 20:57] mayognaise commented on #162
@zfaizal2 Could you share your code? I use exact same environment so I might be able to help you
(Although my nextjs verison is `12.1.6`)

[2022-07-14 10:12] nikhilasrani opened #165 "NftNotFoundError [MetaplexError]: NFT > NFT Not Found error on calling nfts().create({uri})"
Hi folks,

We are getting this error occasionally on creation of an NFT with the Metaplex JS SDK. We run the upload metadata function and get an arweave URI as a response, when we want to create an NFT with that URI, we use the following code snippet where the uri is the arweave uri returned after uploading metadata successfully.

[code]

Now this works almost always except in cases where it throw

[2022-07-15 11:38] lorisleiva commented on #165
Hi there 👋

Are you 100% sure that the transaction went through and the NFT was indeed created?

Alternatively, this could be happening because of commitment settings and so when we try to fetch the NFT, it's not yet been finalized on-chain.

[2022-07-15 11:42] lorisleiva commented on #163
Hi there 👋

Could you please open a new issue with the steps to follow to reproduce this issue? Alternatively, would you please provide a public repository containing the minimum code required to replicate this issue?

Thank you for your understanding.

[2022-07-15 11:42] #163 closed

[2022-07-15 11:43] lorisleiva commented on #155
Hi there 👋

Did you follow this tutorial to get started with Vite, using the right polyfills?

https://github.com/metaplex-foundation/js-examples/tree/main/getting-started-vite

[2022-07-15 11:44] lorisleiva commented on #162
Hi there 👋

Would you mind upgrading to version `0.12.0` and let me know if that fixes your issue?

[2022-07-15 11:48] lorisleiva commented on #153
Sadly, `node_modules` in nested dependencies are not de-duplicated and so TS may end up thinking they are different packages with conflicting types.

I'm hoping I can find a better way to handle this in the future but for now, the SDK fixes this by using `"skipLibCheck": true` on the `tsconfig.json` file. I feel confident this would fix your issue too.

[2022-07-15 11:49] jensnowww commented on #158
@KobeBlockify  nice this is actually working, although type `PublicKey` has been set to `owner` argument for `findAllByOwner` method
<img width="481" alt="image" src="https://user-images.githubusercontent.com/26903002/179216782-7d237437-4b91-451d-8ff8-d49857ae288c.png">

@lorisleiva  Just tagging you here just incase this helps.

[2022-07-16 10:19] truedrju opened #169 "Mock Storage is not working"
Issue on 0.12.0 and 11.7

Metaplex instantiation

[code]

1. store data and get URL: mxconn.storage().upload(file)
2. try to fetch that data with: mxconn.storage().upload("https://mockstorage.example.com/2NAHu8Kqqv7P9tiwisGZ")
3. Get Error `MetaplexError] Asset Not Found

I am running this locally in a React App on React 18 on M1 Mac V12.2.1.

[2022-07-16 10:27] lorisleiva commented on #169
Hi there 👋

I'm assuming you mean `mxconn.storage().download("https://...")` for step 2.

Not sure why it wouldn't work for you though because the entire test suite uses the mock storage. 😕

[2022-07-16 10:51] lorisleiva commented on #158
Hey all 👋

I've published a new version `v0.12.1` that aims to fix this issue.

Could you please upgrade and let me know if it works for you?

[2022-07-16 14:31] stevenbarragan opened #171 "Feature request - Web3.storage and Nft.storage support"
I think the correct way would be to upload the image to nft.storage and the matadata on Web3.storage.

[2022-07-16 15:03] lorisleiva commented on #171
Hey Steven 👋

I'm actually working right now on an _NFT.Storage_ Storage Driver which would make this possible. We don't have any immediate plan for Web3.Storage yet though.

[2022-07-17 22:22] kevinrodriguez-io commented on #155
Hi @lorisleiva Thanks a lot for this. IT WORKS 🚀.

[2022-07-17 22:22] #155 closed

[2022-07-18 18:15] arthurbolsoni opened #173 "LoadNft() error"
hi, i'm trying use the new method LoadNft() and have getting a error in toOriginalOrPrintEditionAccount.

`await mx.nfts().loadNft(nftLazy, {commitment: "finalized"});
`
![image](https://user-images.githubusercontent.com/21229921/179575854-90f77136-bfaa-4f8b-a080-c942ff4e8aa3.png)

i'm did try rewrite me method and the error come from toOriginalOrPrintEditionAccount(), later it i lost me on the co

[2022-07-19 08:08] #101 closed

[2022-07-19 08:09] lorisleiva commented on #53
This method has been moved to the candy machine module as described above.

[2022-07-19 08:09] #53 closed

[2022-07-19 16:02] ninnjak opened #174 "Feature request - Transfer NFT"
Hi, I'm looking to understand how I might do something quite basic. Is it possible to send a new edition NFT to another wallet? I see there is a sendTokens method in the tokens plugin but I'm not sure if or how this can be used to transfer an NFT and if it's relevant to the new API. I would assume that this is available and I must be missing something or perhaps I'm missing an example!?

[code]

[2022-07-20 04:22] stevenbarragan opened #175 "Documentation request for the Action House module 🙏🏽"

[2022-07-20 08:06] nikhilasrani commented on #165
hey @lorisleiva , It looks like the transaction did go through on-chain and the NFT was indeed created. I was able to see the above mentioned NFT(`7htki4AQLjiMmS8Y3wgq87CRpHS2ymjMZHWtcQiEmgR`) with its metadata and attributes on [Solana Explorer (for devnet)](https://explorer.solana.com/address/7htki4AQLjiMmS8Y3wgq87CRpHS2ymjMZHWtcQiEmgR?cluster=devnet).

So the NFT was created and it returned an

[2022-07-21 00:16] blockiosaurus commented on #173
I believe this is an error in the index passed in here https://github.com/metaplex-foundation/js/blob/52e698df76518113dce9e3155ae6b7b5239db484/packages/js/src/plugins/nftModule/loadNft.ts#L44
The accounts are constructed as an array of 2 but the index of 2 is being used to retrieve the edition account. Changing this to an index of 1 locally at least prevents a failure, but I haven't checked the ed

[2022-07-21 08:20] lorisleiva commented on #173
Well, that's embarrassing. I promise I know how to count. 😅

I'll fix this asap.

[2022-07-21 08:29] truedrju commented on #169
hmm not sure, I just wired in a real AWS driver and things worked, but I couldn't get mock example to work.  could have been a mixup on my end with the URLs I was passing in

[2022-07-21 08:29] #169 closed

[2022-07-21 08:31] truedrju opened #178 "Default Value of maxSupply NONE on create NFT Edition inconsistent with docs"
The metaplex doc states:

`The optional Max Supply field of the Master Edition account tells us how many copies of the NFT can be created. When set to None, an unlimited amount of copies can be created. When set to zero, the NFT cannot be copied.`

But when creating this with the JS client, the default is set to 0. Not sure which is the intended correct behaviour, I also don't see how we are to cr

[2022-07-21 08:43] lorisleiva commented on #173
Fixed and published as `0.12.4`. 🚀

[2022-07-21 08:43] #173 closed

[2022-07-21 08:57] lorisleiva commented on #178
Hi there 👋

Yes, the JS SDK defauts to a `maxSupply` of zero because a huge portion of NFTs (like more than 90%) do not make use of the printed edition feature. So it is turned off by default and you have to explicitly opt in to allow printed editions.

Otherwise, devs would create regular NFTs thinking they cannot be copied when actually they can.

If you want to opt in to printed editions you ca

[2022-07-21 08:57] #178 closed

[2022-07-21 09:01] lorisleiva commented on #174
Hi there 👋

I'm planning on adding syntactic sugar to the NFT module at some point but for now, you can use the following method to transfer the token to someone else.

[code]

[2022-07-21 09:47] truedrju opened #180 "No ability to set properties.category or animationURL in MetaData"
I see the token metadata standard supports a properties.category and animationURL for non static file types via [https://docs.metaplex.com/programs/token-metadata/changelog/v1.0#json-structure](url)

My use case is I am uploading a 3d model in gltf format but when I view the NFT in phantom, the file does not render correctly -- format is supported as per doc https://docs.phantom.app/best-practices

[2022-07-21 11:24] nikhilasrani commented on #165
Hey @lorisleiva, I tried changing the commitment level to `'finalized'` instead of `'confirmed'` and now instead of `NFT Not Found`, we end up getting a timeout error. I'm pasting the error below

[code]
It appears that the NFT was created for this case as well and is visible on chain and in the wallet.

I'm not sure if there is something we can do about this since there is no state between `'conf

[2022-07-21 11:32] ninnjak commented on #174
Thank you very much for the response. Sorry just one other point, If I wanted to fund the transfer without having the recipient create a token account would the following be correct:

[code]

[2022-07-21 15:44] lorisleiva commented on #174
That's a good point! For now it is but, when I have the time, I'll make sure to include a check within the sendTokens operation so you don't need to create the ATA beforehand.

[2022-07-21 15:46] lorisleiva commented on #165
Hey 👋  Could you please provide a public repo with the minimum steps to reproduce this bug? I'm struggling to reproduce it. 😕

[2022-07-21 15:54] lorisleiva commented on #180
Hey 👋 I'm not sure I understand what is going wrong. The `MetaplexFile` is just a wrapper around a `Buffer` with extra context. You simply need to set up your JSON Metadata in a way that lets Phantom know about your 3D model if they support it. Could you provide an example of your current metadata and what you'd expect it to be instead?

[2022-07-21 16:06] easydeveloppement opened #181 "Metaplex is not a constructor"
Hello,
i'm using a very simple nodejs script, i have installed @metaplex-foundation/js with yarn, but then as soon as i do
const metaplex = new Metaplex(connection);
i get the error "TypeError: Metaplex is not a constructor"

Do you have any idea what could cause that ?

I actually have a file with only this :

[code]

thanks !

[2022-07-21 16:42] lorisleiva commented on #181
Hey 👋

Have you tried importing the `Metaplex` class this way?

[code]

The package exports more than just this class so we use named exports just like Web3.js.

[2022-07-21 21:55] ninnjak commented on #180
As @lorisleiva says, you just need to add the properties you want when you upload the metadata here is an example:

[code]

[2022-07-21 22:23] mayoyml commented on #174
@lorisleiva @ninnjak This thread is exact what I want to do and I am so excited 😄

I have been getting an error when sending token with the amount:

`amount: amount(1, nft.mint.currency),`

It works if I passing anything smaller than `1` but not `1`.
If you have any ideas why it happens, that would be appreciated 🙏

Thank you so much for your help 🙏

[code]

[2022-07-22 15:11] PomegranateApps opened #186 "How do you mint?"
I've been using this code to mint Solana NFT's in my own project, but is it possible to use this API to do the same?
https://github.com/metaplex-foundation/candy-machine-ui/blob/main/src/candy-machine.ts#L371

[2022-07-22 16:04] lorisleiva commented on #186
[code]

🙂

[2022-07-22 16:04] #186 closed

[2022-07-22 16:28] PomegranateApps commented on #186
Is there documentation for this somewhere?

[2022-07-22 17:38] lorisleiva commented on #186
Not yet, soon :)

[2022-07-23 11:45] skmanish opened #189 "Syntax issues with @bundlr-network/client in a firebase project"
I am using @metaplex-foundation/js as a part of my firebase cloud function that recovers whether a wallet owns an NFT or now. I am seeing the following as predeploy errors:
[code]

[2022-07-25 04:22] SonDN-DDS opened #190 "build error in react-native 0.68.2"
TypeError: Conversion from 'BigInt' to 'number' is not allowed.
Test@http://localhost:8081/index.bundle?platform=ios&dev=true&minify=false&modulesOnly=false&runModule=true&app=com.panwallet.app.dev:618752:26
RCTView
View
RCTView
View
AppContainer@http://localhost:8081/index.bundle?platform=ios&dev=true&minify=false&modulesOnly=false&runModule=true&app=com.panwallet.app.dev:79094:36
panWallet(RootC

[2022-07-25 16:09] lorisleiva commented on #190
Hi there 👋

Could you please open a new issue with the steps to follow to reproduce this issue? Alternatively, would you please provide a public repository containing the minimum code required to replicate this issue?

Thank you for your understanding.

[2022-07-25 16:09] #190 closed

[2022-07-25 16:09] lorisleiva commented on #189
Hi there 👋

Could you please open a new issue with the steps to follow to reproduce this issue? Alternatively, would you please provide a public repository containing the minimum code required to replicate this issue?

Thank you for your understanding.

[2022-07-25 16:09] #189 closed

[2022-07-25 16:10] lorisleiva commented on #181
Feel free to reopen if this doesn't solve your issue.

[2022-07-25 16:11] lorisleiva commented on #180
Thank you for your help @ninnjak!

I'm closing this but feel free to reopen or create a new issue with more information on the expected behaviour if needed.

[2022-07-25 16:11] #180 closed

[2022-07-25 16:12] lorisleiva commented on #175
Hi there 👋

The Auction House module is not ready yet. It will be documented when it is ready. Thank you for your patience.

[2022-07-25 16:12] #175 closed

[2022-07-25 20:59] Harold-coder opened #193 "undefined, get nft metadata"
When I try to run the simple code below from the solana cookbook, I simply get "undefined".
I am sure I have metaplex sdk and solana/web3 installed.

`import { Metaplex, keypairIdentity } from "@metaplex-foundation/js";
import { Connection, clusterApiUrl, Keypair, PublicKey } from "@solana/web3.js";

(async () => {
  const connection = new Connection(clusterApiUrl("devnet"));
  const keypair = Key

[2022-07-25 23:27] ninnjak commented on #193
Be sure to check the [README](https://github.com/metaplex-foundation/js/blob/main/README.md) for the most recent examples as the API has changed and could potentially change in the future.

To access the metadata based on your example you would do the following:

[code]

[2022-07-26 07:01] skulltech opened #194 "Loading NFT errors out due to edition account not being available"
e.g. I got this error when I tried to load the NFT with mint `6P7U2KK1PMh3oeYBALftbDeUoNTPE2rioqhb1wwZwFS2`.

[code]

I think a robust solution would be making the `edition` field optional, and in case it isn't available keep that field empty and return a loaded NFT with rest of the fields loaded.

[2022-07-26 16:13] yintothayang opened #196 "nfts().findAllByCreator() - Nondeterministic responses"
The [findAllByCreator()](https://github.com/metaplex-foundation/js#findAllByCreator) function seemingly has nondeterministic responses.

On multiple executions of
[code]
I will either get the correct response (an array of 2,500 NFT objects), or an empty array.

It seems like there might be a timeout getting hit, because of the large number of NFTs. Unfortunately this doesn't throw, it just returns

[2022-07-26 18:34] mjzuppe opened #197 "Unable to mint v0.13.2"
On one of the recent updates, the create NFT functionality now returns an error when running:
`await metaplex.nfts().create({ uri, name, sellerFeeBasisPoints }).run();`

Error:
TypeError [ERR_INVALID_ARG_TYPE]: The first argument must be of type string or an instance of Buffer, ArrayBuffer, or Array or an Array-like Object. Received undefined

Something perhaps in the CreateNFTBuilder process that

[2022-07-26 20:08] Harold-coder commented on #193
Thank you immensely for both solving my issue and helping me solve later issue.

Have a great week!

[2022-07-26 20:08] #193 closed

[2022-07-26 22:05] stevenbarragan commented on #171
fixed by https://github.com/metaplex-foundation/js/pull/191. Thanks @lorisleiva 🙏🏽

[2022-07-26 22:05] #171 closed

[2022-07-27 10:24] dromaz opened #199 "Module build failed: Error: ENOENT: no such file or directory | spl-token"
Hey I use the @metaplex-foundation/js in the browser everything works fine but when I add the spl-token package I got this error log
```Module build failed: Error: ENOENT: no such file or directory, open './node_modules/@metaplex-foundation/js/node_modules/@solana/spl-token/lib/cjs/index.js'```
btw I use nextJS with ts

[2022-07-27 12:33] HarshaGunathilake opened #200 "Can't import the named export 'ACCOUNT_SIZE' from non EcmaScript module"
we found some issues in adding the upload function
./node_modules/@metaplex-foundation/js/dist/esm/plugins/tokenModule/gpaBuilders.mjs
Can't import the named export 'ACCOUNT_SIZE' from non EcmaScript module (only default export is available)

[2022-07-27 14:51] rastrent commented on #197
Creating NFT's is working for me with 13.2. Are you sure something else isn't up here? Mind posting some more context for your code?

Also just in case some things got out of sync you can always try removing the node modules folder and running yarn/npm again. Sometimes things get messed up there.

[2022-07-27 17:19] mjzuppe commented on #197
@rastrent Yup, that was it! Embarrassed I totally forgot to try that. Thanks for your help.

[2022-07-27 17:20] #197 closed

[2022-07-27 19:47] lakshitha1629 opened #202 "solana?address=undefined issue"
Hi folks,

we are trying to implement the upload Metadata function but solana?address=undefined

![image](https://user-images.githubusercontent.com/39919610/181359095-a9e8672c-9802-4f85-b6ea-d69798a07b4d.png)

`import "./App.css";
import { Metaplex, keypairIdentity, bundlrStorage } from "@metaplex-foundation/js";
import { Connection, clusterApiUrl, Keypair, PublicKey, LAMPORTS_PER_SOL } from "@sol

[2022-07-28 21:53] Harold-coder opened #203 "metaplex-foundation does not work in react app."
I am trying to simply import the sdk on my react app that works perfectly and every time I add this line at the beginning:

import { Metaplex, keypairIdentity } from "@metaplex-foundation/js";

My webApp becomes a blank screen and my console tells me:

types.js:22 Uncaught ReferenceError: Buffer is not defined

But without this simple line, everything works well.

[2022-07-29 07:41] menduong opened #204 "Give example auction house NFT. Sell/buy NFT"
Anyone can give an example boilerplate code to do sell/buy NFT? Thanks you!

[2022-07-29 13:32] lorisleiva commented on #204
Hi there 👋

The auction house module is not ready yet. It will be properly documented when it is. 🙂

Thank you for your patience.

[2022-07-29 13:32] #204 closed

[2022-07-29 13:33] lorisleiva commented on #203
Hi there 👋

Sounds like you need to import some polyfills.

Please check the following repository for some getting started examples:

https://github.com/metaplex-foundation/js-examples

[2022-07-29 13:33] #203 closed

[2022-08-01 01:49] nikhilasrani commented on #165
Hi @lorisleiva, an update from my end. I think changing commitment level as you suggested from `confirmed` to `finalized` seemed to solve the `NFT Not Found` error. After switching commitment levels, we got a different type of error where the transaction took longer and ended up timing out in the default configuration in some rare cases. To fix this, we also changed the `confirmTransactionInitialT

[2022-08-01 01:49] #165 closed

[2022-08-01 07:28] lorisleiva commented on #165
Thank you for the update!

[2022-08-01 16:02] laurensV commented on #155
I am trying to get this to work for nuxt3 (vue) which is also using vite and nitro as a server processor. While it does work with the right polyfills for vite in nuxt development mode (`nuxt dev`) it doesn't work when I try to build it for production (`nuxt build`). Its failing in nitro it seems somewhere. Do I also need to change some of the nitro config?

[code]

[2022-08-05 04:04] RenYang99431 opened #213 "How to set commitment?"
How to set commitment params in apis?

[2022-08-05 12:33] jiangxia opened #214 "Can't seem to use it on Vite+vue app"
I have an urgent project

I installed the library on an existing vue app with

`npm create vite@latest getting-started-vite -- --template vue
cd getting-started-vite
npm install`

And initialize it with
const metaplex = new Metaplex(connection);

Without doing anything else, when I load the page where I import the package, I get this runtime error:

`index.7b42bd6d.js:149 Uncaught TypeError: Class

[2022-08-05 13:31] #199 closed, assigned to nobody

[2022-08-05 14:07] fallenangel2305 opened #216 "Error executing sale"
code

   const tx = await metaplex
          .auctions()
          .builders()
          .executeSale({ auctionHouse, bid, listing })
          .sendAndConfirm(metaplex);

error
TypeError: metaplex.auctions(...).builders(...).executeSale is not a function
    at _callee$ (index.tsx?07ff:624:12)
    at tryCatch (runtime.js?ecd4:45:16)
    at Generator.invoke [as _invoke] (runtime.js?ecd4:274:1)

[2022-08-05 14:17] lorisleiva commented on #216
The Auction House module is still being worked on. It will be properly released and documented in due time. Thank you for your patience.

[2022-08-05 14:17] #216 closed

[2022-08-05 14:25] fallenangel2305 commented on #216
thanks for the answer i just want to make sure i'm doing it right? there is a auction().for().executeSale() and auction().builders().executeSale() why is that

[2022-08-05 17:19] lorisleiva commented on #216
`builders()` give you the underlying transaction builder so you can edit it as you like before sending it to the cluster.

[2022-08-08 22:31] Jac0xb opened #223 "Fundamental design problems with the new metaplex js library."
I think there are some fundamental issues with the new metaplex js library.

1) Why is it trying to re-invent the wheel? Why not just use anchor libraries? It adds a lot of complexity to learning and some of the patterns don't mesh well with other solana web3 libraries. There are lots of new random types such as accounts, assets, Pda, etc and conversion functions along with these new types with no

[2022-08-09 00:44] lorisleiva commented on #223
Hi there 👋

Thank you for your feedback. I’ll try and address all of your points here in a structured manner.

Before I’ll start, I’d like to note that some of the operations and modules of the SDK are still a work in progress and are being frequently refactored to provide a better developer experience as we implement them. The Auction House module in particular is not ready to be used yet.

### A

[2022-08-09 02:41] Jac0xb commented on #223
Thank you for the very detailed response, I will try to compose some constructive thoughts/feedback this week. I think the NFT module is really solid btw, not trying to fud the entire library.

[2022-08-09 08:47] yintothayang commented on #196
Is there anything else I could provide, so this issue gets addressed?

[2022-08-09 09:46] yintothayang commented on #196
But this function isn't throwing a timeout error, it's just returning an incorrect response?
I don't think it's a matter of "inefficiency", if the RPC call times out that's fine, but it shouldn't just return an empty array.

[2022-08-09 10:13] lorisleiva commented on #196
If you check the HTTP request/response, is the RPC returning the empty array?

[2022-08-09 10:37] #213 closed

[2022-08-09 10:38] RenYang99431 commented on #213
some api has options can set commit param.  solved.

[2022-08-09 11:52] fallenangel2305 opened #224 "Please add cancel bid"
I am not able to cancel a bid which is placed by the sdk.

[2022-08-09 11:58] yintothayang commented on #196
Hi @lorisleiva , seems like this could be the source of my troubles -> https://github.com/metaplex-foundation/js/blob/31a76e2bec0b000fdca6616a7bbe65ba806864c3/packages/js/src/utils/GmaBuilder.ts#L118
Instead of throwing, say if the RPC call timedout, you assume the addresses don't exist, and return an array where `exists == false`.

Further up the chain this becomes a problem -> https://github.com

[2022-08-09 12:02] yintothayang commented on #196
Could you reopen this issue?

[2022-08-09 12:51] lorisleiva commented on #224
The Auction House module is still under developer and is not ready to be used. Thank you for your patience.

[2022-08-09 12:51] #224 closed

[2022-08-09 12:56] lorisleiva commented on #196
Thanks for detailing your findings, that really helped! I know how to fix this, I'll reopen and tackle this as soon as I can.

[2022-08-09 13:43] yintothayang commented on #196
awesome, thank you!

[2022-08-09 16:24] mikemaccana opened #225 "Please mark https://www.npmjs.com/package/@metaplex-foundation/js-next as deprecated"
Currently https://www.npmjs.com/package/@metaplex-foundation/js-next seems newer than https://www.npmjs.com/package/@metaplex-foundation/js - since it's `js-next`, right?

But `js-next` is actually older than `js`, from what I can see.

It would be good to mark https://www.npmjs.com/package/@metaplex-foundation/js-next as deprecated (which can be [done via the npm command](https://docs.npmjs.com/d

[2022-08-10 10:06] lorisleiva opened #226 "Ensure all operations require minimum valuable input"
Requiring a whole data model when only some of its attributes are being used is not an optimal solution and we should change that.

This is even more of an issue when using Transaction Builders because the required models might not even exist at that point.

See the issue that started this conversation here: https://github.com/metaplex-foundation/js/issues/223

[2022-08-10 10:20] lorisleiva commented on #225
Done! Thank you for raising this. 🍺

[2022-08-10 10:20] #225 closed

[2022-08-10 10:22] mikemaccana commented on #225
Brilliant thanks Loris! ⭐️

[2022-08-10 17:52] mikemaccana opened #227 "Types seem to be missing for NftClient methods (other types are fine) in VScode"
Using `@metaplex-foundation/js@0.14.0` in vscode, while the `NftClient` object itself is typed (so I can see the type definitions are working), all the methods inside `NftClient` are of `any` type, have no parameters, and return `any`.

![image](https://user-images.githubusercontent.com/172594/183981579-55f6bce6-f84f-4115-977f-4a096bcec5aa.png)

![image](https://user-images.githubusercontent.com/1

[2022-08-10 18:12] mikemaccana commented on #227
PS I can product a standalone project reproducing this behavior if needed, just let me know!

[2022-08-10 22:41] lorisleiva commented on #227
Oh no that's annoying. Thanks for raising this I'll investigate asap. This must be due to a recent refactoring that moves the client methods directly into the operation files so everything is in one place. But I didn't know VS Code was not going to be happy about this. I'll see if I can be more explicit when I link the method with the class.

[2022-08-11 10:38] jiangxia commented on #214
The vite version breaks through, and it can be reduced to 2.9.5

[2022-08-12 11:31] zachzafar opened #230 "I don't know if I missed this in the documentation but is it possible to combine different methods so that users only have to sign one transaction"
For example say a user wants to create a new nft, I have to upload the metadata which is one transaction, then create the actual mint which is another transaction. how would I make this one transaction?

[2022-08-12 23:20] ninnjak opened #232 "Production build error"
I'm trying to create a production build but get the error below. I have no issues when using the library in local dev.

I've tried with both `v0.13.2` and `v0.14.0`

[code]

[2022-08-13 01:18] adteague commented on #232
the `dist` folder does not exist

<img width="295" alt="Screen Shot 2022-08-12 at 8 17 31 PM" src="https://user-images.githubusercontent.com/13558763/184463110-4c8aaf00-4f2e-4b14-bb45-14d3371c34d7.png">

[2022-08-13 04:00] davidbeard741 commented on #232
same problem....

Adding all to my package.json as a last try before sleep. Shouldn't matter but ill look again with fresh eyes tomorrow

    "@metaplex-foundation/js": "^0.11.7",
    "@metaplex-foundation/beet": "^0.2.0",
    "@metaplex-foundation/beet-solana": "^0.1.1",
    "@metaplex-foundation/mpl-auction-house": "^2.1.1",
    "@metaplex-foundation/mpl-candy-machine": "^4.3.0",
    "@metaplex-

[2022-08-13 06:05] davidbeard741 commented on #232
I just put 4 hrs into this. and I got nothing still. not even a workaround

[2022-08-13 09:36] 0xDragonfly commented on #232
I got it working by uninstalling @metaples-foundation/js first.
Install @metaplex-foundation/mpl-candy-machine@4.3.0 (make sure it has the dist folder in the node modules/@metaplex-foundation/mpl-candy-machine directory)
Install  @metaples-foundation/js again.
Should be working now.
Like @adteague mentioned, the dist folder is missing from 4.4.0 version of mpl-candy-machine.

Alternatively you can

[2022-08-13 12:00] ninnjak commented on #232
Thank you all for the help, @0xDragonfly solution didn't work for me but pointed me in the right direction. I updated the package.json to force `@metaplex-foundation/mpl-candy-machine` to `v4.3.0` that includes the dist folder.

[code]

[2022-08-13 12:04] adteague commented on #232
@ninnjak should leave this issue open so the Metaplex team is  aware of the issue and address it on their end?

[2022-08-13 16:42] lorisleiva commented on #232
Hi all 👋

Thanks for raising this. As some of you mentioned, it must be an issue with an auto-generated library missing its `dist` folder.

I'll investigate and publish a new patch as soon as I can.

[2022-08-13 16:54] gpaluk commented on #232
This happens because you automatically upgrade the version of candy machine using the ^ symbol, so your tests pass and then the candy machine team release an uodate and kaboom. 💥 You just need to remove the ^ from the dependency version.

[2022-08-14 01:33] aeaa1998 opened #233 "Error instantiating class Metaplex"
![Screen Shot 2022-08-13 at 7 32 54 PM](https://user-images.githubusercontent.com/47725760/184518839-24b22c1a-4c79-4ce7-8737-10c0de673f59.png)

[2022-08-14 01:43] aeaa1998 commented on #233
Package.json config file
[code]

[2022-08-14 03:27] devyeshtandon commented on #232
After implementing @ninnjak 's solution, I am getting error
[code]

[2022-08-15 00:06] cosimo-rip opened #234 "Candy Machine: Zero-decimal SPL Tokens"
Hi there! I've been working with the candy machine plugin, and in testing, believe I've come across an issue with SPL token-based mints.

I think the library does not handle SPL tokens with varying decimals. In this instance, I have an SPL token with zero decimals, and when setting a price of 1, the resulting candy machine (through create or update methods) ends up deployed with a resulting price

[2022-08-15 08:08] zhaodong-wang commented on #194
I had the same error, how can I get the nft data in this case?

[2022-08-15 08:11] lorisleiva commented on #233
My guess is that you're trying to import the library as a CJS module inside an ESM module.

[2022-08-15 08:54] lorisleiva commented on #232
I've published a new version ([`0.14.1`](https://github.com/metaplex-foundation/js/releases/tag/js%2Fv0.14.1)) that forces version 4.3.0 of this dependency until the package gets fixed.

[2022-08-15 08:54] #232 closed

[2022-08-15 17:36] aeaa1998 commented on #233
I am importing like this and using it like this

[code]

I updated my package json to fix it with  "type": "module" added at the top but still it does not work i am using webpack 5 .
Do you have an idea why it is not working? :s

[2022-08-15 18:11] mjzuppe opened #237 "New build errors on V 14"
Hi there! I upgraded metaplex/js from 13.2 to 14.1 and now have dozens of errors when building (see below for examples). Is there new types or a a dependency?

FYI: I did clear node_modules and yarn.lock prior to rebuilding
[code]

[2022-08-15 19:11] lorisleiva commented on #233
Did you check this guide for Webpack 5?
https://github.com/metaplex-foundation/js-examples/tree/main/getting-started-react-cra5

[2022-08-15 21:05] aeaa1998 commented on #233
Yes!! It did not worked but moved to vite and it worked.
Im pretty sure there is something I did not configure correctly but thanks for the support @lorisleiva 🙌🏻.

[2022-08-15 21:05] #233 closed

[2022-08-16 03:09] AmmarKhalid123 commented on #200
Have you found any workaround? @HarshaGunathilake

[2022-08-16 03:24] aeaa1998 opened #238 "When creating a candy machine 0x52 eh"
The following error occurs when I create a candy machine with a collection.

Maybe I am missing something?  I've tried creating the nft with the minimum input and it does not work.
The Metaplex identity is with my wallet

<img width="1675" alt="image" src="https://user-images.githubusercontent.com/47725760/184791125-e1188ace-c0c1-42f4-b7fe-5ca9a949dba1.png">

Code to create the nft
[code]

Code to

[2022-08-16 08:17] lorisleiva commented on #237
Hey there 👋

Yeah, that refactoring was a mistake. It made things easier for us to maintain but caused some TS and IntelliSense issues.

Version 0.15.0 (releasing very soon) will fix that but change the top-level API slightly.

[2022-08-16 11:12] lorisleiva commented on #237
This should now be fixed in version [`0.15`](https://github.com/metaplex-foundation/js/releases/tag/js%2Fv0.15.0). 🚀

[2022-08-16 11:12] #237 closed

[2022-08-16 11:13] lorisleiva commented on #227
This should now be fixed in version [`0.15`](https://github.com/metaplex-foundation/js/releases/tag/js%2Fv0.15.0). 🚀

[2022-08-16 11:13] #227 closed

[2022-08-16 11:13] lorisleiva commented on #196
This should now be fixed in version [`0.15`](https://github.com/metaplex-foundation/js/releases/tag/js%2Fv0.15.0). 🚀

[2022-08-16 11:13] #196 closed

[2022-08-16 16:51] mayoyml commented on #227
@lorisleiva Thank you always! It seems like the version isn't ready on npm yet? I got this when installing it:

[code]

[2022-08-16 17:00] lorisleiva commented on #227
Ah I'm an idiot, I forgot to publish. Thanks for raising this! It should be published now. 🍺

[2022-08-16 17:35] mayoyml commented on #227
@lorisleiva yay!! HEAVEN!
<img width="818" alt="image" src="https://user-images.githubusercontent.com/47791310/184942988-a1982775-47b3-4179-b9fa-4bd61a9375d3.png">

[2022-08-16 18:01] LaniakeaSC4 opened #241 "Error on nfts().findAllByCreator(verifiedcreator)"
When trying to get a collection using `nfts().findAllByCreator(verifiedcreator)` I get the following error;

[code]

Using

[code]

[2022-08-16 18:25] LaniakeaSC4 commented on #241
Just read in https://github.com/metaplex-foundation/js/releases/tag/js%2Fv0.15.0
That creator address should be passed as object. I have tried this but get the same error.

[2022-08-16 19:34] PieterSpruijt commented on #241
I'm getting the same error too!

[2022-08-16 20:32] mjzuppe commented on #237
@lorisleiva - Confirm V15 patched those errors. Have new errors that I'm now reviewing:

[code]

[2022-08-16 20:58] ninnjak commented on #241
As @LaniakeaSC4 said you now need to pass creator in as an object. But also you need to convert it to a public key like so:

[code]

`findAllByCreator` works fine on `devent`, I believe `mainnet-beta` doesn’t allow some calls like this one based on how expensive they are.

Try using a private RPC.

[2022-08-16 22:01] LaniakeaSC4 commented on #241
Thanks. Are there any reference examples of connecting to a private rpc?

[2022-08-16 22:06] ninnjak commented on #241
You can just add the private RPC url when you setup the connection like this:
[code]

[2022-08-16 22:43] LaniakeaSC4 commented on #241
Thanks, got that. I made a alchemyapi.io solana app to test this and although the alchemy app recieves the request, the returned result is empty?

My complete function;

[code]
API recieves
[code]
API responds
[code]

[2022-08-16 22:49] ninnjak commented on #241
Your'e forming the `findAllByCreator` input object incorrectly, the key should be creator. Try this:

[code]

[2022-08-16 23:16] LaniakeaSC4 commented on #241
Hmmm... Me also... So what now? 😀

[2022-08-16 23:59] ninnjak commented on #241
`creator` with or without the quotes makes no difference.

I just tried with a different RPC (https://www.quicknode.com/) and got a valid response with metadata. Using a different creator address with only 8 NFTs and that request took around 3 minutes.

The wallet address you provided in your example seems to timeout. Maybe that address has a lot of NFTs.

[2022-08-17 08:18] LaniakeaSC4 commented on #241
Thanks for the info. If I could get this working with a private RPC, can I pass **all** the returned NFT metadata to `.load()` command as one blob (i.e. directly pass the result of `const nfts = await metaplex.nfts().findAllByCreator({ creator: creatorkey }).run();`? My initial testing suggests that `.load()` only accepts a single NFT.

[2022-08-17 11:22] ninnjak commented on #241
That's correct you can't pass all the NFTs to the load function. You would need to iterate the list of NFTs and call load on each one.

[2022-08-17 12:37] HereFrank commented on #202
Good day!!
 I'm having a similar problem, do you encounter a solution ?

[2022-08-17 21:33] Mayzz03 opened #245 "Documentation broken link"
The link to the createNft parametters list is broken.

https://github.com/metaplex-foundation/js/blob/main/packages/js/src/plugins/nftModule/createNft.ts

[2022-08-18 08:42] lorisleiva commented on #237
Got it, thanks for letting me know.

[2022-08-18 11:16] eigengravy commented on #147
I'm quite new to web3 technologies but I would love to work on this

[2022-08-18 14:19] mikemaccana commented on #227
Thanks all! 💖

[2022-08-19 07:14] gxxcastillo commented on #233
I'm getting the same error after trying to migrate my existing, working app to use this new library.  I've followed the webpack 5 instructions [in the docs](https://github.com/metaplex-foundation/js-examples/tree/main/getting-started-react-cra5) but still no go.

[2022-08-19 20:16] cprcrack opened #247 "Feature Request: Create Fungible Token with metadata"
I can easily create an NFT with accompanying metadata like this:

[code]

Is there an equivalent easy way for FTs (fungible tokens) that use the new Metaplex Fungible Token Metadata standard as per https://github.com/solana-labs/token-list ?

I was looking for something like `metaplex.tokens().create()` and I have found that there is a `createMint()` and `createToken()` method but none of those ac

[2022-08-20 01:45] KartikSoneji commented on #202
The issue is `initBundlr()` calls `initNodeBundlr()` if `keypairIdentity()` is used, even in the browser.

https://github.com/metaplex-foundation/js/blob/9498bf9e3e3f67c36441a607741e9f64a6971ba9/packages/js/src/plugins/bundlrStorage/BundlrStorageDriver.ts#L197-L199

For now, a hacky workaround is to create a `KeypairIdentityDriver`, then pass it to `walletAdapterIdentity()` like so:
[code]

A bett

[2022-08-20 10:08] LaniakeaSC4 commented on #241
@ninnjak is there any way to slow the API request rate? I don't necessarily need speed and could avoid these errors (although, they do all resolve successfully).

![Screenshot_20220820-110729_Chrome](https://user-images.githubusercontent.com/77202101/185740973-242422a9-6f1a-4305-9535-4891dc1d2991.jpg)

[2022-08-21 16:50] ninnjak commented on #241
@LaniakeaSC4 I think this is a little off topic based on the original question. But there are many ways to approach this (hard to say which is best without context). Here are a few ideas:
1. Pay for the RPC to increase the request per second.
2. Paginate the requests and call them in batches that don’t exceed the rate limits. e.g. [paginate-nfts](https://github.com/metaplex-foundation/js-examples/

[2022-08-21 23:29] ezeev commented on #140
We are running into this issue with Metaplex/js version 0.15

[2022-08-22 00:02] ezeev opened #248 "TypeError: Class extends value undefined is not a constructor or null"
We are trying to use this library with a Next.js project and are receiving this error on any page we try to use `Metaplex` on.

## Steps to reproduce:

Node version: `v18.7.0`

Package.json:

[code]

`next.config.js`:

[code]

Example Next.js page for testing:

[code]

[2022-08-22 14:12] 0xChief commented on #245
Correct link is https://github.com/metaplex-foundation/js/blob/main/packages/js/src/plugins/nftModule/NftClient.ts

[2022-08-22 14:39] ninnjak commented on #245
I believe this is actually the correct link, same file just refactored folder structure:

https://github.com/metaplex-foundation/js/blob/main/packages/js/src/plugins/nftModule/operations/createNft.ts

[2022-08-22 16:38] lorisleiva commented on #202
Hey @KartikSoneji 👋

Thanks for your help on this. Yes, I'd be happy to accept a PR with that fix. 🍺

[2022-08-22 16:41] lorisleiva commented on #241
Hey all 👋 Closing this since @ninnjak did a great job at answering all the questions. Thank you for your help! ❤️

[2022-08-22 16:45] lorisleiva commented on #245
I'm currently working on API references generated by typedoc.

I'll update docs with these links instead but here's an example for `nfts().create()`:

https://metaplex-foundation.github.io/js/classes/js.NftClient.html#create

[2022-08-22 17:43] #248 closed

[2022-08-23 11:34] lorisleiva commented on #247
Hi there 👋

Yes, that's possible.

It's not documented yet (working on it) but at least we now have API references for most of the SDK modules.

Here's the operation you're looking for: https://metaplex-foundation.github.io/js/classes/js.NftClient.html#createSft

[2022-08-23 11:34] #247 closed

[2022-08-23 12:19] cprcrack commented on #247
That's great news! So the concept of an SFT in the SDK encompasses the `FungibleAsset` and `Fungible` token standards described [here](https://lorisleiva.com/owning-digital-assets-in-solana/how-nfts-are-represented-in-solana), with the only difference being the decimals being 0 or >0?

I find that difference a little bit confusing, what if I want to create a `Fungible` token with 0 decimals (image

[2022-08-23 13:43] fallenangel2305 opened #253 "Error when adding js-plugin-nft-storage"
`Compiled with problems:X

ERROR in ../../../node_modules/@nftstorage/metaplex-auth/dist/index.browser.js 11112:38-45

Module not found: Error: Can't resolve 'process/browser' in '/home/mvp/node_modules/@nftstorage/metaplex-auth/dist'
Did you mean 'browser.js'?
BREAKING CHANGE: The request 'process/browser' failed to resolve only because it was resolved as fully specified
(probably because the ori

[2022-08-23 13:55] fallenangel2305 commented on #253
solution is to add below code to config-overrides.js

   config.module.rules.unshift({
        test: /\.m?js$/,
        resolve: {
            fullySpecified: false, // disable the behaviour
        },
    });

[2022-08-23 13:55] #253 closed

[2022-08-23 14:26] lorisleiva commented on #247
Thanks!

Yes, it's a bit confusing but all that standard is doing on-chain is checking the decimals to distinguish between SFTs that are fractionals and those who are not. That way, apps, wallets, marketplaces, etc. can interpret the JSON metadata of these SFTs slightly differently.

In practice, though it doesn't make that much difference. The most significant difference is between NFTs and SFTs

[2022-08-24 13:42] lorisleiva commented on #200
Hey there 👋

Could you please provide more information on your environment?

This is likely an issue regarding ESM and CJS not playing nicely together and the more information I have about your bundler, the better.

Also, did you check the `js-examples` repository for getting started with various bundlers?

https://github.com/metaplex-foundation/js-examples

[2022-08-25 00:11] HereFrank opened #256 "How to recover arweave links generated on failure of metaplex.storage().uploadAll(metaplexFilles)?"
These is the case, supposed that I want to generate 10.000 arweave links and I make a code like these:
`const imageLinks = await metaplex.storage().uploadAll(metaplexFiles)`
being metaplexFile an array of metaplex files with images that I want to convert to arweave links...
Seeing the code here:
https://github.com/metaplex-foundation/js/blob/1827aaea479106a966ba026fbc97fe4a78c240c3/packages/js/src

[2022-08-25 15:07] fallenangel2305 opened #259 "Auction fee is not working on mainnet"
auction house - 5nHM2fhir19nk2hXK1fQogYqbDym4sivdWAAurZGSQax
Auction House Treasury - FU8MTaffQjaADHqy7nWrCBjVHUBVWWj6J4r56bugzbHn

[2022-08-25 16:14] fallenangel2305 commented on #259
Seems like i accidentally set the fee % to 0 on mainnet , it works fine.

[2022-08-25 16:14] #259 closed

[2022-08-27 18:06] Doughp opened #260 "Type Error when updating Metaplex-foundation/js created Nft, Cannot read 'toBuffer'"
**### Program:**
Metaplex-foundation/js(0.11.7)and Solana-Wallet-Adapter(0.9.16)
in Create-React-App 5

**### Preface:**
I created a function to create a NFT

[code]

Which worked fine creating my NFT, now I am trying to update the Metadata with this function

[code]
Also tried like this
[code]

**### Error:**
findMetadataPda.ts:10 Uncaught (in promise) TypeError: Cannot read properties of undefin

[2022-08-28 10:16] elliott-w opened #261 "Update creators error: Incorrect account owner"
I'mn trying to update a list of nfts to have a new secondary creator (the one with the 100% share). I don't think it's possible to update the first creator because I think the first creator is signed by the candy machine that created the nft? Anyway here's my code:

[code]
Note, the `metaplex.use()` keypair I'm using is the same wallet used to create the candy machine and has authority to update t

[2022-08-28 15:56] ruskid opened #262 "Transaction too large"
Hi, I am getting: "Transaction too large: 1283 > 1232" when minting an NFT with collectionAuthority

[code]

is the issue with RPC or Solana?

[2022-08-29 14:34] Doughp commented on #260
Answered here:: https://stackoverflow.com/questions/73529207/typeerror-when-updating-metaplex-nft-cannot-read-tobuffer/73529956?noredirect=1#comment129846834_73529956
 going to leave it open as I may not the only one who missed this.

[2022-08-29 19:22] fallenangel2305 opened #263 "Add function to fetch all listings by auction address"
Right now there isn't many options to fetch nfts from an auction which is a crucial part of an auction.

[2022-08-30 08:10] lorisleiva commented on #263
Hi there 👋

The Auction House module is not yet available. Please avoid raising issues for features that have not yet been released. Thank you for your patience.

[2022-08-30 08:10] #263 closed

[2022-08-30 08:28] lorisleiva commented on #256
Hi there 👋

That's correct, currently, the bulk upload mechanism is fairly rudimentary and could do with a better error and retry logic.

There's too much to do on this SDK for us to focus on this right now but it is something I'd like the SDK to support at some point.

In the meantime, I suggest working with the `upload` method and implement your own custom error handling.

Thanks for raising thi

[2022-08-30 09:24] lorisleiva commented on #261
It looks like the Metadata account you're trying to update is not owned by the Token Metadata program.

See https://github.com/metaplex-foundation/metaplex-program-library/blob/58d10c46e66ca9d9c6288999ca9289c986587c7f/token-metadata/program/src/processor.rs#L326

Also, your update call is adding a new creator with 100% shares whilst the current `creators[0]` should also have 100% shares. Once you

[2022-08-30 09:25] elliott-w commented on #261
@lorisleiva

Is that normal for NFTs minted via CMv2?

[2022-08-30 09:26] lorisleiva commented on #262
Hi there 👋

Are you running this on a local test validator that's using an old version of Solana?

They recently-ish increased the transaction size which allowed this SDK to provide more features within the same transaction.

[2022-08-30 09:32] lorisleiva commented on #260
Thanks for updating your issue.

Here are some API references with some additional context on what is needed for the update operation.

https://metaplex-foundation.github.io/js/types/js.UpdateNftInput.html

[2022-08-30 09:32] #260 closed

[2022-08-30 09:40] elliott-w commented on #261
No nothing like that, CM was made using the depecrated `candy-machine-v2-cli.ts`

Yeah here's another one from the same candy machine:
https://solscan.io/token/YAPp4X629HnHLnpRf4cEWhUFEeiSx3uJQhi95nu65Em#metadata

If I do:
[code]
still gives same `incorrect account owner` error.

Could you please elaborate? I thought by specifying the creators property I'm replacing the old creators array with a n

[2022-08-30 09:45] ruskid commented on #262
hey, thanks for your work!

It's not a Metaplex issue but a Solana limit. I removed some NFT creators and attributes to get the transaction lighter

[2022-08-30 10:02] lorisleiva commented on #262
Is this happening with the latest version of Solana though?

I'm curious to know if the latest changes they did on the transaction limit is still going to cause some issues for the SDK.

[2022-08-30 10:05] elliott-w commented on #261
I've messed up somewhere I'm sure of it 😅

mainnet-beta, I've tried both my quiknode:
https://autumn-wispy-forest.solana-mainnet.quiknode.pro/9df0b2e72ee22da25d7be7cc97fb85656e938255
And genesysgo:
https://ssc-dao.genesysgo.net/

[2022-08-30 10:11] lorisleiva commented on #261
Well, you seem to be doing everything properly so I'm not sure why you'd have this incorrect owner error.

I'll reopen this until we find out what's causing this issue.

[2022-08-30 10:16] elliott-w commented on #261
Thanks, much appreciated

[2022-08-30 13:26] ruskid commented on #262
do you mean the version of **@solana/web3.js**? I am using ^1.44.0

[2022-08-30 13:37] ruskid commented on #262
Oh, I just managed to get the version of Solana from the Alchemy node. it's "solana-core":"1.10.34"

[2022-08-30 14:08] lorisleiva commented on #262
Ah okay, thanks for that. Unfortunately, they already bumped the tx size on that version so looks like we've got to be careful on the SDK with this operation.

Instead of changing the creator array, I'd suggest removing the `collectionAuthority` and `collectionAuthorityIsDelegated` parameters so that the transaction doesn't include the instruction that verifies the collection.

You can then use `m

[2022-08-30 19:44] CryptoUncleSam opened #264 "Getting error using .findAllByOwner()"
I try to use this function with public and private RPC and nothing works.

I receive this error:
`
{"jsonrpc":"2.0","error":{"code":-32010,"message":"TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA excluded from account secondary indexes; this RPC method unavailable for key"}`

The only RPC that works is https://solana-api.projectserum.com/ but the response is some NFTs that are not in the wallet I'm

[2022-08-31 03:55] CryptoUncleSam commented on #264
The error: I wasn't passing the public key as object!

[2022-08-31 03:55] #264 closed

[2022-09-02 07:41] ritvij14 opened #266 "TypeError: Conversion from 'BigInt' to 'number' is not allowed."
Trying out this package in React Native

RN Version: 0.69.5
Metaplex js version: 0.15.0
@solana/web3.js: 1.41.6

## Error log:
[code]

## Steps to repro:

Follow app setup steps from here:
https://solanacookbook.com/integrations/react-native.html#how-to-use-solana-web3-js-in-a-react-native-app

but keep solana web3js version to 1.41.6 (above that it will not work again coz of this BigInt issue)

A

[2022-09-02 11:48] 5elfle5 opened #267 "How do I launch tests?"
What I did:
1. cloned this repo
2. "yarn install", "yarn build" in root
3. launched solana-test-validator (also tried not launching it)
4. yarn test

I see this error:
"Unable to fetch address labels. , is amman running with the relay enabled? If not please start it as part of amman in a separate terminal via `amman start` Make sure to set `relay: { enabled: true }` in `.ammanrc.js`."
I don't unde

[2022-09-02 12:54] lorisleiva commented on #267
Hi there 👋

You need to run `yarn amman:start` to start a local validator with all the Metaplex programs loaded.

[2022-09-04 20:50] Merrick17 opened #269 "add instant sale"
How can i make an instant sale using this package ?
I googled and searched everything and didn't  find a solution...

[2022-09-04 23:13] Merrick17 opened #270 "Error AuctionHouseProgram > Account is already initialized"
i'm trying to upload list to an exisiting aution house , like this
` const auctionHouse = await metaplex
      .auctions()
      .findAuctionHouseByCreatorAndMint(keypair.publicKey, WRAPPED_SOL_MINT)
      .run();
    const result = await metaplex
      .auctions()
      .for(auctionHouse)
      .list({
        mintAccount: new PublicKey(
          "Fn1Ej1BLwkWidWesz4f5FjEF6pyUSZixLspMQ8UeTnQp"

[2022-09-05 10:28] 5elfle5 opened #271 "Unable to see my Candy Machine V2 NFT on solaneyes"
Hi! I was able to create my NFTs with sugar CLI and see them on solaneyes.com, but when I do it with your js sdk I see this:
<img width="308" alt="Screenshot 2022-09-05 at 13 27 06" src="https://user-images.githubusercontent.com/57477431/188428270-2263ec38-377d-4006-a4d8-5c8ed7363634.png">
 this is my code:
[code]
I get no errors from my transactions, can you please tell what I am doing wrong?

[2022-09-05 11:34] ErlanBazarov commented on #158
Not working for me. Passing of string also doesn't work

[2022-09-05 16:38] HereFrank opened #272 "Unable to change updateAuthority to an NFT."
Good day!!
I'm creating nfts in the back-end using a `proxyWallet` that sign all the transactions there.
The process is:
*The user transfer SOL to `proxyWallet`
*The proxy wallet mint the nfts with that SOL

The problem is, even when the proxy wallet is the one that mints the nfts, I want to change some parameters like the `updateAuthority`...

https://github.com/metaplex-foundation/js/blob/3d7e45

[2022-09-05 21:28] camilomv17 opened #273 "Candy Machine findMintedNFTs returning Thousands of random NFTs"
Trying to implement candyMachines().findMintedNFTs (or nfts().findAllByCreator ) but the results are more than 100k of random NFTs. I am using the candy machine Id for Okay bears as testing point:
`const metaplex = Metaplex.make(connection)
  .use(keypairIdentity(wallet))
  .use(bundlrStorage());
const getMintAddresses = async (firstCreatorAddress) => {
  const nfts = await metaplex
    .candyMach

[2022-09-05 22:39] KartikSoneji commented on #272
Creating a master edition requires the updateAuthority to be a signer:
https://github.com/metaplex-foundation/js/blob/6fcb0b6ffe616eb8a30933799b23d7495f80ab24/packages/js/src/plugins/nftModule/operations/createNft.ts#L72-L82

This can be worked around by adding an instruction to transfer the update authority immediately after minting
Something like:
[code]

But another issue is the update authorit

[2022-09-06 10:23] #267 closed

[2022-09-07 07:34] elliott-w commented on #261
@lorisleiva can you recommend another way to update creators at this point?

[2022-09-07 09:20] lorisleiva commented on #261
@elliott-w Sure, you can use the `@metaplex-foundation/mpl-token-metadata` library directly which is auto-generated from the Rust program. But the SDK delegates to that library so I'm not sure if that would make a difference.

[2022-09-07 22:41] mPaella opened #277 "Candy Machine mint throws mint account not found"
This is occurring, seemingly at random, after minting an NFT from a candy machine.

The mint is successful, and the transaction didn't incur a bot tax: https://explorer.solana.com/tx/4DE3suJcv3GyNKrokufpVujYmYtojQVQT8JC8gicksgfwEhXt66d3wq7Y1hBoNgBA1r8u2MgcGb4qVi1yiLrb9LU?cluster=devnet

To me, it looks like the minted NFT is being fetched before the blockchain has updated the account. If that's th

[2022-09-08 00:08] okwasi commented on #237
Did you only have to change this @mjzuppe? I had the same missing exports issue as you, but changing the tsconfig target to es2019 didn't solve the issue.

[2022-09-08 00:48] okwasi commented on #237
@lorisleiva I see that the version 0.15 in npm specifies the exports in `gpaBuilders.d.ts` as `{}`. And so `program.d.ts` throws errors, as it's unable to import `MintGpaBuilder` and `TokenGpaBuilder`. Any idea how I can get around this?

[2022-09-08 07:58] 5elfle5 commented on #271
I found out what is wrong with this solution, I am only uploading image to arweave, I also need to upload metadata that contains the image URL, and the URL of metadata is the URL that is needs to be stored on blockchain, not the image URL

[2022-09-08 07:58] #271 closed

[2022-09-08 16:16] okwasi commented on #237
Thanks a lot @mjzuppe! So it turns out the tsconfig parameter that fixed it was skipLibCheck! I'm all good now.

[2022-09-09 01:46] dn-l commented on #194
Got the same error

[2022-09-09 07:20] lorisleiva commented on #194
Hi there 👋

Could you share the version of the SDK and the code you're using because the SDK supports both NFTs and SFTs. It's worth noting that an NFT without an edition account is, by definition, not an NFT. However, as I said, the SDK should also support SFTs.

[2022-09-10 00:01] neilryanh commented on #273
You're not alone. However, I'm getting the same results with `FindAllByCreator()` and `FindAllByOwner()`. Returns 157k items on Mainnet. About 1/4 that on Devnet.

[2022-09-10 10:53] camilomv17 commented on #273
@neilryanh it's like if the parameter was ignored then. Will do some digging to check if the parameter must be passed differently but based on the docs this code should work correctly.

[2022-09-10 13:42] neilryanh commented on #273
@camilomv17 I also tried to use `findAllByUpdateAuthority()`, which I found in the module operations _(not seeing this particular method in Docs)_ . Same result.

Also, `findAllByCreator()` does have optional params and utilizing creator **postion:1** is the same.

[2022-09-11 11:03] dn-l commented on #194
@lorisleiva
[code]

[code]

[2022-09-11 12:47] CryptoUncleSam opened #281 ".findByMint() error"
I have the following code:

[code]

Getting this error:

[code]

[2022-09-13 11:39] 0xMukesh opened #284 "Add `getCandyMachineState` function"
Hey! It would be amazing if there is a `getCandyMachineState` function, which would take in `connection` and `candyMachineId` as the parameters and return its state i.e items remaining, items redeemed etc.

The core logic of this function would be something similar to this - <https://github.com/metaplex-foundation/candy-machine-ui/blob/main/src/candy-machine.ts#L166-L221>, where we are fetching ID

[2022-09-13 16:55] lorisleiva commented on #284
Hi there 👋

I'm not sure if that's what you are referring to but the Candy Machine module already parses the hidden section of the Candy Machine account.

Here's the data available on the [Candy Machine model](https://metaplex-foundation.github.io/js/types/js.CandyMachine.html) and here are the [Candy Machine Items](https://metaplex-foundation.github.io/js/types/js.CandyMachineItem.html).

[2022-09-14 06:57] prateekvasi commented on #200
I have same issue.
./node_modules/@metaplex-foundation/js/dist/esm/plugins/tokenModule/gpaBuilders.mjs
Can't import the named export 'ACCOUNT_SIZE' from non EcmaScript module (only default export is available)

I'm using: [Getting Started with Metaplex and CRA 5](https://github.com/metaplex-foundation/js-examples/blob/main/getting-started-react-cra5) (React and Webpack 5)

Please help!

[2022-09-14 07:12] prateekvasi opened #285 "Can't import the named export 'ACCOUNT_SIZE' from non EcmaScript module (only default export is available)"
I have issue.
./node_modules/@metaplex-foundation/js/dist/esm/plugins/tokenModule/gpaBuilders.mjs
Can't import the named export 'ACCOUNT_SIZE' from non EcmaScript module (only default export is available)

Installation done from here: https://github.com/metaplex-foundation/js

Also
I'm using: [Getting Started with Metaplex and CRA 5](https://github.com/metaplex-foundation/js-examples/blob/main/get

[2022-09-14 08:08] lorisleiva commented on #285
Duplicate of #200

[2022-09-14 08:08] #285 closed

[2022-09-14 08:26] prateekvasi commented on #200
Can you Please give some solution? @lorisleiva

[2022-09-14 11:04] lorisleiva commented on #200
Hey there 👋  I'll have a look at this issue as soon as I can but for now, I would suggest using Next.js since it is usually much easier to set up with the SDK than CRA5.

[2022-09-14 11:05] lorisleiva commented on #281
Isn't there a typo on your code?

[code]

https://metaplex-foundation.github.io/js/classes/js.NftClient.html#findByMint

[2022-09-14 11:12] CryptoUncleSam commented on #281
Hello! Yes that was the error!

[2022-09-14 11:12] #281 closed

[2022-09-14 11:29] samia-invozone opened #286 "MetaplexError: AuctionHouseProgram > Account is already initialized""
I'm trying to list NFT by the following code & getting an error(Account is already initialized).
`const { listing, sellerTradeState, receipt } = await metaplex
        .auctions()
        .for(auctionHouse)
        .list({
          mintAccount: new PublicKey(mintAddress),
          price: sol(price),
          printReceipt: true,
        })
        .run();`

[2022-09-14 11:38] lorisleiva commented on #286
Hey there 👋

Did you run this snippet of code more than once by any chance? This error usually means that a listing already exists with these settings. Errors will be clearer in the future sorry about that.

[2022-09-14 11:43] samia-invozone commented on #286
Nope, It's giving this error from the very 1st time. I have also tried to list nft by new mint address but still getting the same error.

[2022-09-14 12:57] lorisleiva commented on #286
Could you please provide a small public repo with the code necessary to reproduce this?

[2022-09-14 13:59] samia-invozone commented on #286
Issue resolved. Thank you

[2022-09-14 14:04] sofinico opened #287 "Unable to get MasterEditionData type"
Hi! I cannot find a method to get `MasterEditionData` from Master Edition Address or Mint. I do am able to get `MetadataData` using `Metadata.findByMint()` method. Any suggestion?

[2022-09-14 14:18] agtzdimi commented on #286
Hello @samia-invozone, I faced the issue as well and did not resolve it. Could you elaborate on the fix you made? Or why this was caused?

[2022-09-14 14:33] zaxozhu commented on #286
@agtzdimi May I ask you to run this command with **skipPreflight: true** property and share the logs? It will help to make the issue more detailed.

Like in example:

[code]

[2022-09-15 05:42] samia-invozone commented on #286
When you create your auction house, you also get your Auction House Fee Account. This fee account must be funded. Try to airdrop SOL into this. Hope so it will work out

[2022-09-15 07:30] agtzdimi commented on #286
Thank you @samia-invozone
I will try it out today, although I remember I did an initial airdrop, cause I pasted the code from the unit test.
In any case, I will post the outcome here @zaxozhu. Much appreciated guys

[2022-09-15 10:24] samia-invozone opened #288 "MetaplexError: AuctionHouseProgram > A seeds constraint was violated"
I have successfully placed a bid but while running executeSale method, I'm getting an error(A seeds constraint was violated). Did someone ever face this issue? Below is the code I'm using for executing the sale.
` const purchase = await metaplex
        .auctions()
        .for(auctionHouse)
        .executeSale({
          listing: listing,
          bid: bid,
        })
        .run();`

[2022-09-15 13:25] yuwiggin commented on #237
I had the Same issue when `"skipLibCheck": true, "target": "es2019",`  was set. i.e. `tsconfig.json`:
[code]
Here is the `package.json`:
[code]
Any suggestion?

[2022-09-17 10:21] stauersbol opened #292 "NftNotFoundError [MetaplexError]: NFT > NFT Not Found"
Hi,

So we are getting a error that has bugging us for a while.

[code]

We found a issue that was previously made here, and we tried using that type of configuration on our endpoint.
We changed the default `confirmTransactionInitialTimeout` from 1min to 2min and have our commitment set to `finalized`.
We also have the same timeout setting for bundlrStorage. The mint address does exist when this e

[2022-09-19 15:49] JairZijp opened #294 "Error on mint: SizedCollectionMetadataMustBeMutable"
Hi all,
When I'm trying a mint on my candymachine it gives me the following error back:
`SizedCollectionMetadataMustBeMutable. Error Number: 6050. Error Message: Setting a sized collection requires the collection metadata to be mutable..`

Even though the collection of the candy machine is mutable, as can be seen here: [https://explorer.solana.com/address/GK1Z94uSKcTCsiUVan1UvuvVfAQKD3XiDx6i6UF4vD

[2022-09-19 18:46] Bhaney44 opened #295 "Adding metadata to a new fungible token."
**Overview**

I've been working on finding a method for adding metadata to a new fungible token for a few days now. However, it appears there is a need for this as one does not currently exist. I've documented some troubles in this [Issue](https://github.com/metaplex-foundation/metaplex/issues/2248).

**Core Problem**

With the change from [Solana-Labs Token List](https://github.com/solana-labs/to

[2022-09-19 19:07] PhongVu07 opened #296 "TypeError: Cannot read properties of undefined (reading 'prototype')"
I'm using nextjs 12, after installing @metaplex-foundation/js v0.15.0 by app breaks with error `TypeError: Cannot read properties of undefined (reading 'prototype')`

[2022-09-19 22:40] cicoph commented on #273
I have simulated the RPC call made by this method findMintedNFTs() and I noticed that add a filter not needed:
`[
  {
    "memcmp": { //<--- this not needed if remove this I get the results also for v1 and v2
      "offset": 0,
      "bytes": "5"
    }
  },
  {
    "memcmp": {
      "offset": 326,
      "bytes": "3xVDoLaecZwXXtN59o6T3Gfxwjcgf8Hc9RfoqBn995P9"
    }
  }
]`

[2022-09-19 22:55] cicoph commented on #241
I think the problem is this, the method add a unnecessary filter in the RPC call, if you remove this it's works...
[code]

[2022-09-19 22:57] cicoph commented on #241
I think the problem is this, the method add a unnecessary filter in the RPC call, if you remove this it's works...
..... {"memcmp": { "offset":0, "bytes":"5" }}, .....

[2022-09-20 07:18] sunxxg opened #297 "metaplex.nfts().load(metadata).run()"
After calling metaplex.nfts().load(metadata).run() ,
jsonLoaded = true,  json = null

[2022-09-20 08:39] JairZijp commented on #294
Was fixed by updating to the `next` version: `0.13.0-0`

[2022-09-20 08:39] #294 closed

[2022-09-20 08:40] lorisleiva commented on #297
This happens when the fetched URI does not return valid JSON.

[2022-09-20 08:40] #297 closed

[2022-09-20 08:42] lorisleiva commented on #294
Hi there 👋 What version were you using before?

The `next` tag has actually not been used for a while and is now behind the `latest` tag so I wouldn't recommend using it.

[2022-09-20 08:47] lorisleiva commented on #296
Hi there 👋

Not sure why this is the case. We have a [working example with Next.js 12](https://github.com/metaplex-foundation/js-examples/tree/main/getting-started-nextjs). 🤔

Did Next.js change something on their latest version and no longer polyfills Node dependencies?

[2022-09-20 08:53] lorisleiva commented on #295
Hi there 👋

100% I wish I had more time to dedicate to documentation right now but I, unfortunately, don't.

In the meantime, you can use API references to explore what the SDK has to offer.

Here are the API references for the create SFT operation:
- Operation: https://metaplex-foundation.github.io/js/classes/js.NftClient.html#createSft
- Operation Input: https://metaplex-foundation.github.io/js/

[2022-09-20 08:53] #295 closed

[2022-09-20 09:14] JairZijp commented on #294
Hi! I believe I was using the latest. After updating @solana/web3.js it now seems to work also with the `latest` version. So I'll use that 😄
Thanks!

[2022-09-20 09:24] lorisleiva commented on #292
Hi there 👋

Is this happening whilst trying to create the NFT? Or are you just trying to fetch an existing NFT?

Trying to figure out if this is a race condition issue or something else.

[2022-09-20 15:57] camilomv17 commented on #273
Nice find @cicoph, looks like we will have to do a manual RPC call until this is fixed by metaplex.
Will test and confirm if works on my side.

[2022-09-20 16:19] grimAgent opened #301 "Can't seem to access `delegateAddress` when using `findAllBy` methods"
I noticed that while all the `findBy` methods include an output of `NftWithToken`, the `findAllBy` don't

I also noticed that the `delegateAddress` is only available in the `Token` model.

So that's basically not allowing me to check if the NFTs being returned by `findAllByOwner` have a `delegateAddress` or not.

Is there something I'm missing to be able to check the `delegateAddress` when when us

[2022-09-20 16:48] Bhaney44 commented on #295
Hi @lorisleiva, thanks for the reply. Please open this Issue back up. It's an important problem and I'm working hard to solve it. When you close an issue without resolving it, it makes it difficult to continue working toward a solution. You provided two links, but neither satisfy the problem. For example, the first link you provided is for an NFT method, but my problem is focusing on fungible toke

[2022-09-20 17:43] lorisleiva commented on #295
I have provided you with the solution.

SFT stands for Semi-Fungible Token which is what we call fungible tokens with a Metadata account which you are trying to achieve.

The first link even provide an code example on how to use it.

[code]

Simply add the `useExistingMint` parameter I mentioned before and you will be able to transform a mint account into an SFT.

[code]

[2022-09-20 18:14] Bhaney44 commented on #295
My apologies. This is not a solution to my problem. There is also no context for executing the function you provided.

I will simplify the problem. I have created both the [TOKEN_URI.json](https://github.com/ChoiceCoin/converter/blob/main/spl-token-metadata/META_DATA.json) and the [Meta_Data.json](https://github.com/ChoiceCoin/converter/blob/main/spl-token-metadata/META_DATA.json) files. I have al

[2022-09-20 18:56] Bhaney44 commented on #295
With the solution you provided there are still outstanding issues.

[code]

1. How is the URI data validated and attached? Is a `TOKEN_URI.json` file sufficient if stored on GitHub? if so, is a link in the URI category sufficient to satisfy this constraint?
2. What are the necessary dependencies for running this script? Would there need to be a `package.json` file to run a script with this functio

[2022-09-20 20:53] stauersbol commented on #292
This happening when I'm creating the NFT. The mint address you see point to an actual NFT that we create.

[2022-09-20 23:46] lorisleiva commented on #295
Hi there 👋

I have carefully read your problem and I can assure you that this piece of code is the solution to your problem.

Adding a Metadata account to a fungible token is what this function does when you provide the address of the Mint account as the `useExistingMint` parameter.

Regarding this `uri` parameter, it should point to your JSON file. Whether this is on-chain or off-chain is up to y

[2022-09-20 23:51] lorisleiva commented on #301
Hi there 👋

Yes, that's because when fetching multiple NFTs from the blockchain, it isn't performant to fetch additional accounts, such as the token account, as well.

Instead, it simply returns the Metadata model which can transformed into a NftWithToken using the `nfts().load()` operation. This is explained in the readme.

[2022-09-20 23:51] #301 closed

[2022-09-20 23:57] Bhaney44 commented on #295
Alright, thanks anyway @lorisleiva.

[2022-09-21 02:41] grimAgent commented on #301
Hey @lorisleiva thank you for your reply!

I'm probably making wrong assumptions here, but running `nfts().load()` on hundreds of individual accounts sounds less performant than running the native web3 method `getParsedTokenAccountsByOwner`. (100s calls vs 1).

[2022-09-21 06:18] lorisleiva commented on #301
It depends on the information you're looking for. The idea with this operation is that you lazy load the metadata accounts and then load the full data (including fetching its JSON metadata) as and when you need it. It would not be performant to load the URIs and Token accounts of all of them in one go (especially has we don't control where the URIs point from).

A good example for using this opera

[2022-09-21 10:57] lorisleiva commented on #234
Thanks again for your contribution, I will publish this with the next breaking change version since the `main` branch already contains breaking changes. Hopefully, that should be this week. 🤞

[2022-09-21 15:08] grimAgent commented on #301
Awesome, thank you for taking the time to confirm which route to take (for now, until the SDK supports that other method that sounds amazing)

Thanks!

[2022-09-21 21:00] haris-aqeel opened #302 "nft.json is null"
Code Example:
![image](https://user-images.githubusercontent.com/56465230/191609053-acee60cb-0013-488b-8f20-c8db40482e25.png)

I am fetching all NFTS by Owner, but every NFT I receive contains jsonLoaded false and json as null.
![image](https://user-images.githubusercontent.com/56465230/191608900-3274f177-f31e-4c03-964e-a05130515a15.png)

I checked the URL. All of the URLs are valid and contain al

[2022-09-21 22:06] lorisleiva commented on #302
Hi there 👋

If you read [this entire section](https://github.com/metaplex-foundation/js#findallbymintlist), you should understand why this is happening and what you can do to load the JSON metadata on the next section.

I hope this helps.

[2022-09-21 22:07] #302 closed

[2022-09-22 01:53] Bhaney44 commented on #295
The problem with the `useExistingMint` parameter is there is no context for how the transaction to update the metadata is signed. This is a problem because the variables necessary to actually sign the transaction updating the metadata are missing. I'm getting consistent errors running the code you proposed would sole the problem.

`useExistingMint: new PublicKey('A3uJtVMsC8s1VGtQArAuhS8viftRpVx8DA

[2022-09-22 02:05] Bhaney44 commented on #295
`useExistingMint: new PublicKey('your-mint-account-address-here'),`

This line here is wrong. There is no definition for the `PublicKey` function. Additionally, your code does not make sense conceptually because you according to the [docs](https://docs.metaplex.com/programs/token-metadata/overview), the code should require some signature authority from the mint address or token account.

[2022-09-22 09:18] lorisleiva commented on #295
Hey 👋 Yes, sadly the documentation does not cover everything that the SDK has to offer just yet and I'm sorry that you've not had a great experience with the SDK so far.

Unfortunately, for the same reasons that I can't dedicate much time to the documentation right now, I cannot provide a detailed tutorial to every single request I get on GitHub, Twitter, Discord, Email, etc.

The problem you're f

[2022-09-22 12:48] devusvulgaris commented on #288
I faced the same issue. @samia-invozone, have you found the solution? Looks like it happened to Candy machine as well before.

[2022-09-22 18:55] ninnjak opened #303 "MetaplexError: printNewEdition > NotEnoughAccountKeys"
I'm running the printNewEdition command with minimum input. This works fine when testing on `devnet`. However on `mainnet-beta` I continue to get the error below `NotEnoughAccountKeys`.  I'm using the latest version of the SDK `v0.15.0`.

[code]
### Error log:

[code]

[2022-09-22 21:07] Bhaney44 commented on #295
So, how do I import `PublicKey`? Here are the imports from the code you sent:

[code]
But `PublicKey` isn't one of them. I don't see where it is part of the installation code.

I get you're busy, but MetaPlex needs to provide sufficient documentation for developers to be able to add metadata. I'd be happy to help provide more detailed documentation on this as I work through this problem. Does Meta

[2022-09-22 21:11] Bhaney44 commented on #295
Ok - I re-ran the installation in the local directory and it solved the PublicKey issue. I am now getting a new bug.

[code]

It looks a bug in the `nftModule/pdas.mjs:9`module.

[2022-09-23 04:06] bounce-yukkw opened #305 "MetaplexError: createNFT > NotEnoughAccountKeys"
i cant create NFT using metaplex foundation js v0.15.0 in mainet-beta, testnet

anyone have a good idea?

 key: 'metaplex.errors.program.unknown_program_error',
  title: 'TokenMetadataProgram > Unknown Program Error',
  problem: 'The program [TokenMetadataProgram] at address [metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s] raised an error that is not recognized by the programs registered by the SDK.'

[2022-09-23 11:55] samia-invozone commented on #288
@devusvulgaris Yes, I have resolved it. In my case, it was the bid amount issue. ExecuteSale will work if your bid amount is equivalent to the listed amount.

[2022-09-23 12:35] ninnjak commented on #303
I believe this maybe related to this issue: https://github.com/metaplex-foundation/metaplex-program-library/issues/755

[2022-09-23 16:43] AaronJaramillo commented on #305
You may need to downgrade to mpl-token-metadata 2.2.4 until the new program version 1.4 is deployed to mainnet.

`npm install @metaplex-foundation/mpl-token-metadata@2.2.4 --save`

see: [This issue response](https://github.com/metaplex-foundation/metaplex-program-library/issues/755#issuecomment-1253986047)

[2022-09-23 19:36] Bhaney44 commented on #295
I really think this Issue should be opened @lorisleiva. The decision to close it was pre-mature because there is no existing solution. I am still hacking through the issue and debugging the code in [#Issue748](https://github.com/metaplex-foundation/metaplex-program-library/issues/748). All else being peripheral, there currently is no method for adding token metadata to a non-fungible token on Sola

[2022-09-23 22:43] kevinfaveri opened #306 "Candy Machine validation fails because the value of "now()" is the initial epoch in 1970"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `@metaplex-foundation/js@0.15.0` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

---

Didnt go beyond fixing

[2022-09-23 23:01] kevinfaveri opened #307 "Candy Machine Module mint function fails to create a valid transaction while in production"
Given the code
[code]
with a valid candy machine, the NextJS production bundle is not able to generate a valid transaction when this function is called, thus you can't submit it:
![Screen Shot 2022-09-23 at 20 00 41](https://user-images.githubusercontent.com/18222497/192067410-ed8dcf19-7cd6-4c62-9575-ab2e4bdbb5b5.png)

This is the same code in development environment bundle using NextJS:
![Screen

[2022-09-23 23:16] kevinfaveri commented on #307
This happens with both cjs and mjs bundles

[2022-09-23 23:19] kevinfaveri commented on #307
Confirmed it only happens with "swcMinify" options enabled on NextJS latest

[2022-09-23 23:26] kevinfaveri commented on #307
Seems like. this swcMinifier from Vercel has a lot of problems in other libraries as well: https://github.com/chartjs/Chart.js/issues/10673

[2022-09-24 01:22] ninnjak commented on #303
Confirmed temporary workaround downgrading `mpl-token-metadata` is working for me on `mainnet-beta`.

[code]

[2022-09-25 18:04] tonyboylehub opened #308 "Feature Request: Hidden files to be uploaded via assets folder"
In it's current state Sugar's hidden settings function by supplying a URI to a metadata.json file which means users (a lot of them perhaps not technical in the coding/web3 space) are expected to have preuploaded files to arweave or other storage medium and have a correct metadata.json file to supply.

In some cases it's been found that users are suppling images/videos in the URI instead of linked

[2022-09-25 18:08] tonyboylehub commented on #308
Somehow submited to wrong repo. My bad!

[2022-09-25 18:08] #308 closed

[2022-09-26 05:21] bounce-yukkw commented on #303
can you deposit over 0.1sol your wallet then try printNewEdition?

[2022-09-26 06:56] haris-aqeel opened #309 "NFT Metadata returning CORS error"
![image](https://user-images.githubusercontent.com/56465230/192211659-b1428e4d-55ac-40ca-9ec0-3b2bc7810bbc.png)
As shown in the image, first I am fetching all of the NFTs and then loading JSON using the load metadata function.

![image](https://user-images.githubusercontent.com/56465230/192212166-447f6208-32e5-4c6b-9b83-d7141926b4b5.png)

As you can see that the on the second index of the array th

[2022-09-26 07:31] haris-aqeel commented on #309
When I am pasting that failed to fetch ethernetworkapplied.net............ on the browser, it gives me nft metadata without any issue. Is there any solution to deal with it if I am not willing to use backend API for NEXT JS?

[2022-09-26 07:54] shiningsea0415 opened #310 "Error while mint NFT on Solana with Metaplex"
My Code is:
const wallet = useWallet();
const connection = new Connection(clusterApiUrl("testnet"));
const metaplex = Metaplex.make(connection)
    .use(walletAdapterIdentity(wallet))
    .use(bundlrStorage());

const mint = async () => {
    const { nft } = await metaplex
      .nfts()
      .create({
        uri: "http://res.cloudinary.com/dmzpebj2g/image/upload/v1664109071/assets/avatars/l43lcy

[2022-09-26 07:54] haris-aqeel commented on #309
If I use NEXTjs API and use this function on the backend, then I need to pass it mx(metaplex) and public key. Let me know how this is possible

[2022-09-26 07:54] haris-aqeel commented on #309
Best part is if we can do the same using frontend

[2022-09-26 09:37] haris-aqeel commented on #309
@steveluscher @thlorenz @samuelvanderwaal

[2022-09-26 09:52] ninnjak commented on #303
I have already tested with the above workaround with over 0.1 SOL in my wallet and printNewEdition works fine

[2022-09-26 10:32] ninnjak commented on #310
This is because you're trying to run on `testnet` which doesn't have the Metaplex programs loaded. Easiest way of testing is to use `devnet`.

[code]

Otherwise I believe you will need to look  into `amman` to run local validator:
https://github.com/metaplex-foundation/js/issues/267

[2022-09-26 12:53] shiningsea0415 commented on #310
and Solana devnet is running nowadays. [https://api.devnet.solana.com/](url)
As I see it, testnet is running. [https://api.devnet.solana.com/](url)

[2022-09-26 14:34] steveluscher commented on #309
Hi there! Yours is a question about web development more generally, and you’ll get a much quicker answer over at stackoverflow.com! Can you close this issue please, and repost it there as a question?

Likely, you’re going to have to contact the people who run the server that’s blocking you, and ask for an exemption for your domain.

[2022-09-26 16:02] haris-aqeel commented on #309
@thlorenz Thanks for your reply! But it does not even work with mode no-cors.

https://ethnetworkapplied.net/info-metadata.json?q=xxxxxxxxxxxxxxxxxxxxxx

![image](https://user-images.githubusercontent.com/56465230/192325406-cfbf585d-37a4-4f0b-b013-c59a55f95a49.png)

When I open this in the browser, it works without any issues. Similarly, if I use postman or backend it works without any CORS issue.

[2022-09-26 16:30] steveluscher commented on #309
That's consistent with how CORS is applied.

We don't not want your problem fixed, we're just saying that the issue tracker of `metaplex-foundation/js` is the wrong place to get help for your webserver configuration issue. This issue tracker is for bugs relating to the Metaplex JavaScript libraries. You'll get _much_ faster help over at stackoverflow.com from web technologists who can give you tar

[2022-09-26 18:29] haris-aqeel commented on #309
Okay thanks

[2022-09-26 18:29] #309 closed

[2022-09-26 20:56] CoachChuckFF commented on #305
For anyone wanting the workaround to this problem: I can confirm the following works:

see: [This issue response](https://github.com/metaplex-foundation/js/issues/303#issuecomment-1256826597)

[2022-09-27 10:58] stauersbol commented on #292
I can provide some code snippets a little later today, so you can see how we do it.

[2022-09-27 20:26] Bhaney44 opened #313 "Best practices for storing image files in token metadata program"
I'm having trouble finding information on best practices for storing image files for the token [metadata program](https://docs.metaplex.com/programs/token-metadata/). In [Issue 748](https://github.com/metaplex-foundation/metaplex-program-library/issues/748), we discovered GitHub is probably not the best method for storing image files for metadata. The general format for the TOKEN_URI file is:

[co

[2022-09-27 21:03] Bhaney44 opened #314 "How to update sft metadata"
One problem I am running into solving [Issue 313](https://github.com/metaplex-foundation/js/issues/313) is that I am intending to update token metadata rather than create it. In [Issue 748](https://github.com/metaplex-foundation/metaplex-program-library/issues/748) we created a method for adding token metadata to an asset. The function we used was:

[code]

Here, we used the `createSft` method. Ho

[2022-09-27 21:05] Bhaney44 commented on #313
I am using a website called [ImageBam](https://www.imagebam.com/) which is permissionless and free. It allows users to upload and image and it generates a link. I am working toward testing whether this new link will work better than GitHub.

[2022-09-27 23:29] samuelvanderwaal commented on #313
https://docs.metaplex.com/resources/storage-providers

[2022-09-27 23:34] samuelvanderwaal commented on #314
Try looking in the readme for an `update` method.

[2022-09-28 00:47] #313 closed

[2022-09-28 00:48] Bhaney44 commented on #313
Thank you!

[2022-09-28 00:51] Bhaney44 commented on #314
I found `UpdateMetadataAccountV2` in the [Instructions](https://docs.metaplex.com/programs/token-metadata/instructions) section. So, how would that method be applied?

[code]
Would this be the correct syntax?  Apologies for the noob question - it's difficult for me to conceptualize how the method is used without an example. Thanks in advance, I appreciate you!

[2022-09-28 04:47] samuelvanderwaal commented on #314
Mteaplex has two different sets of JavaScript libraries:

Each program has a low-level one that is autogenerated directly from the Rust code. These are prefixed with `mpl` and can be found in NPM under the @metaplex-foundation such as [mpl-token-metadata](https://www.npmjs.com/package/@metaplex-foundation/mpl-token-metadata) or you can look at the actual JavaScript code in the `JS` directory of th

[2022-09-28 05:06] Bhaney44 commented on #314
This is great information - thank you, I really appreciate your thoughtful reply. I am getting to work on this now. I found the two examples they look right. I just need to modify them for the case of the `sft` and the specific element to be changed. I will follow up with an update.

[2022-09-28 06:02] Bhaney44 commented on #314
I ran:

[code]

Error return:

[code]

I will continue to read the docs to work on a solution for this. I think the `update` method should work with `sft` the same as it does for `nft`.

[2022-09-28 06:09] samuelvanderwaal commented on #314
You're missing the nft parameter:

[code]

 I haven't tried this code but I think that should be the NFT object which has the creators, etc. fields. Your probably going to have to chew some glass here, but look at the examples in the README carefully and I think you'll figure it out. Good luck!

[2022-09-28 06:25] Bhaney44 commented on #314
Are you sure? There was not an `nft` parameter in the create function, it was an `sft` parameter:

[code]

This is the line that looks like the issue:
`nftOrSft: nft,`

I think it should be:

`nftOrSft: sft,`

I've tried both, but I'm getting a reference error I need to sort out.

[2022-09-28 11:49] m5bunny opened #316 "Getting this.wallet.publicKey is undefined Error while using nfts().uploadMetadate().run() or storage().upload()"
Hi,
I am getting this error when I use bundlrStorage driver with keypairIdentity driver and I am not getting it when I use walletAdapterIdentity driver and approve  all transactions manually.

Here is my metaplex configuration code:
[code]
and here is the Error text:
[code]
Is there any way I can fix this problem?

[2022-09-28 13:02] lorisleiva commented on #314
I've just realised the README is out of date for this but the [`update` operation](https://metaplex-foundation.github.io/js/classes/js.NftClient.html#update) no longer returns the NFT or SFT after updating. You need to explicitly fetch that data again. The [`refresh` operation](https://metaplex-foundation.github.io/js/classes/js.NftClient.html#refresh) can help with that.

[2022-09-28 13:17] GM-Alex opened #317 "Proposal: Improve token create / update"
As far as I understand the metaplex.nfts().create() function can be also used to create SFT and SPL tokens with metadata. The functions under NFTs could stay there but with a reduced arguments set. Ideally imho it should be like so:

- metaplex.tokens().create() is able to create a SPL token, a SFT or a NFT
- metaplex.spl().create() uses metaplex.tokens().create() but with the arguments preset to

[2022-09-29 00:57] Bhaney44 commented on #314
[code]
I am running the refresh operation as documented:

`sft = await metaplex.nfts().refresh(sft).run();`

But I am getting a reference error.

`ReferenceError: Cannot access 'sft' before initialization`

I am having trouble understand what `sft` is and how it operates. For example, is `sft` an object, function, or an element? I understand it stands for semi-fungible token, but to solve the refe

[2022-09-29 02:43] Jack-R-Long opened #318 "Error with newly migrated NFT Collection"
Hello,

I just migrated my NFT collection to the new Metaplex certified collection standard using their tool at [link](https://collections.metaplex.com/)

Now when I try and run `.nfts().update()` I get the following error
[code]

How can I size the collection?  I would like to be able to update our NFTs again ASAP.

[2022-09-29 08:02] jesign opened #319 "Update method - Can't use this function on unsized collection"
Hi i'm getting this error when updating an NFT that belongs to an unsized collection:

key: 'metaplex.errors.program.parsed_program_error',
  title: "TokenMetadataProgram > Can't use this function on unsized collection",
  problem: `The program [TokenMetadataProgram] at address [metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s] raised an error of code [101] that translates to "Can't use this function o

[2022-09-29 14:27] rastrent opened #320 "Upgrading to 0.15 storage issues."
It looks like the api has changed around bundlr / storage integration. I upgraded the to the `toMetaplexFile` but wondering what else I'll need to update here.

[code]

Offchain Metadata Created successfully at:  undefined
error - unhandledRejection: TypeError: Cannot read properties of undefined (reading 'toString')
    at **amountToBigNumber** (/Users/test/party/node_modules/@metaplex-foundation

[2022-09-29 14:29] rastrent commented on #320
Happy to update the docs once we nail down whats going on here.

[2022-09-29 21:38] rastrent commented on #320
I noticed the funding was happening automagically in upload all so just decided to use that.
[code]

[2022-09-29 21:52] myyellowshoe commented on #319
I wonder if you could use migrateToSizedCollectionNft function to fix this issue?

[migrateToSizedCollectionNft.ts](https://github.com/metaplex-foundation/js/blob/main/packages/js/src/plugins/nftModule/operations/migrateToSizedCollectionNft.ts)

[2022-09-30 03:36] Jack-R-Long commented on #319
Same issue here!  I posted on stack exchange https://solana.stackexchange.com/questions/3469/error-with-newly-migrated-certified-nft-collection

[2022-09-30 03:38] jesign commented on #319
@myyellowshoe ,
it would make a new error, it says `Cannot verify collection in this instruction. `

[2022-09-30 06:14] jesign commented on #319
it seems like unverifying the collection before updating works. but i will have to verify it again.
is this the expected behaviour?

[2022-09-30 07:27] lorisleiva commented on #320
Hi there 👋

Yes, it should fund it properly when passing the files directly to the upload operation.

However, there's a little known issue with this upload operation as it will treat any provided file as a different file (even if it's the same reference). As you're providing the same file twice I just wanted to flag this. This issue is on my todo list.

[2022-09-30 07:29] lorisleiva commented on #314
You're not calling the operations in the right order and you are override `const` variables.

Have you tried this?

[code]

[2022-09-30 10:57] lorisleiva commented on #319
Hi there 👋

Thank you for raising this. It's a bug, I've been able to reproduce it on a regression test. Fixing this and publishing a new version today (it will have to be a minor jump since `main` contains some small breaking changes for other modules).

[2022-09-30 11:11] lorisleiva commented on #318
Hi there 👋 I know this was raised before #319 but since it has more activity, I'll mark this one as duplicate and close it. Thanks for raising this!

[2022-09-30 11:11] #318 closed

[2022-09-30 11:23] lorisleiva commented on #317
Hi there 👋

Thanks for taking the time to provide this feedback.

I'm assuming you made a typo here and you meant `metaplex.sfts().create()` since SPL stands for Solana Program Library.

My issue with the proposed approach is that both NFTs and SFTs, in the context of Metaplex, have an associated Metadata account. If you wish to create tokens without any Metadata account, then you may use the Toke

[2022-09-30 11:28] lorisleiva commented on #262
Hi there 👋

I'm going to close this since it seems like you fixed your issue by splitting your transaction but feel free to open a new issue with updated information if you need to.

Thanks for raising this.

[2022-09-30 11:28] #262 closed

[2022-09-30 11:29] lorisleiva commented on #238
Hi there 👋

Sorry for the late reply! Are you still experiencing this issue with the latest SDK version?

This should at least translate Program errors now so you should have a better understanding of what the Program is complaining about.

[2022-09-30 11:30] #3 closed

[2022-09-30 11:30] #4 closed

[2022-09-30 11:31] #5 closed

[2022-09-30 11:31] #6 closed

[2022-09-30 11:31] #102 closed

[2022-09-30 11:31] #103 closed

[2022-09-30 11:33] #306 closed

[2022-09-30 11:34] lorisleiva commented on #306
Hi there 👋

Thanks for raising this! I've made a PR that should hopefully fix this. I'll publish this today as version `0.16.0`. Feel free to ask me to reopen if that did not fix your issue.

[2022-09-30 11:35] #319 closed

[2022-09-30 11:36] lorisleiva commented on #319
I will publish this as version `0.16.0` today. Let me know if that didn't fix your issue and I'll reopen it. 🤞

[2022-09-30 11:42] lorisleiva commented on #234
Version `0.16.0` contains your changes. 🎉

[2022-09-30 11:42] #234 closed

[2022-09-30 11:46] lorisleiva commented on #112
I've taken note of this as TODOs so I'll close this for now. Thanks again for raising this.

[2022-09-30 11:46] #112 closed

[2022-09-30 11:48] lorisleiva commented on #135
Hi there 👋

I'm going to close this due to inactivity but know that the Auction House module is well on its way and now needs documenting. We'll also try to allocate some time for some reference implementations so it's easy to understand how to set up your own marketplace.

[2022-09-30 11:48] #135 closed

[2022-09-30 11:49] lorisleiva commented on #136
Thanks for the update! I'll close this due to inactivity but feel free to open a new issue referencing the latest version if you need to.

[2022-09-30 11:49] #136 closed

[2022-09-30 12:13] lorisleiva commented on #138
Hi there 👋

I'm going to close this due to inactivity but feel free to open a new issue with updated information if you need to.

Thank you for your understanding.

[2022-09-30 12:13] #138 closed

[2022-09-30 12:17] lorisleiva commented on #141
Hi there 👋

I'm closing this since this is now available on the NFT module (See collection parameters on the [create](https://metaplex-foundation.github.io/js/types/js.CreateNftInput.html) and [update](https://metaplex-foundation.github.io/js/types/js.UpdateNftInput.html) operation inputs).

Thank you for raising this.

[2022-09-30 12:17] #141 closed

[2022-09-30 12:19] lorisleiva commented on #153
Hi there 👋

I'm going to close this due to inactivity but feel free to open a new issue with updated information if you need to.

Thank you for your understanding.

[2022-09-30 12:19] #153 closed

[2022-09-30 12:21] lorisleiva commented on #158
Hi there 👋

I'm going to close this due to inactivity but feel free to open a new issue using the latest version with updated information if you need to.

Thank you for your understanding.

[2022-09-30 12:21] #158 closed

[2022-09-30 12:22] lorisleiva commented on #162
Hi there 👋

I'm going to close this due to inactivity but feel free to open a new issue using the latest version with updated information if you need to.

Thank you for your understanding.

[2022-09-30 12:22] #162 closed

[2022-09-30 12:27] lorisleiva commented on #194
Hi @dn-l, I'm confused I thought this issue was to do with loading NFTs / SFTs and not creating them.

I'm going to close this issue for now since it seems they are referencing different issues on different versions but please feel free to open a new issue using the latest version with updated information if you need to.

Thank you for your understanding.

[2022-09-30 12:27] #194 closed

[2022-09-30 12:30] lorisleiva commented on #200
Looking at this again and it could be to do with the fact that some of the examples in the `js-examples` repository are not using the latest version of the SDK and the latest version of whichever framework they use. Any help on that front would be more than appreciated. 🙏

[2022-09-30 12:35] lorisleiva commented on #230
Hi there 👋

Sorry for the late reply but yes it is possible. I'm hoping to have enough time to document all of this as soon as I can but here's a snippet of code that explains how to use what we call transaction builders on the SDK.

[code]

I hope this helps.

[2022-09-30 12:35] #230 closed

[2022-09-30 12:36] #245 closed

[2022-09-30 12:43] lorisleiva commented on #261
Hi there 👋

I'm just going through all issues again today. and I was wondering if you'd find a solution to this issue.

I'm still confused as to why the update operation wouldn't work since what you're trying to achieve has been heavily tested on the SDK.

If you could provide a small repository for me to play with such that it's got the minimum amount of code required to reproduce the issue that'

[2022-09-30 12:49] lorisleiva commented on #266
Hi there 👋

I'm afraid not since this SDK relies on the Solana web3.js library. I suggest you upgrade to the latest React Native version if possible.

Thank you for your understanding.

[2022-09-30 12:49] #266 closed

[2022-09-30 12:56] lorisleiva commented on #269
Hi there 👋

We're still working on the Auction House module at the moment but you may have a look at the [API references](https://metaplex-foundation.github.io/js/classes/js.AuctionHouseClient.html) to see what's been implemented and how to use it.

When the module will be ready, we'll work on its documentation so this process will be easier.

Thank you for your understanding.

[2022-09-30 12:56] #269 closed

[2022-09-30 12:59] lorisleiva commented on #270
Hi there 👋

This is a duplicate of #286.

I know this issue was raised first but since the other one has more activity, I'll close this one instead.

Thank you for you understanding.

[2022-09-30 12:59] #270 closed

[2022-09-30 13:03] lorisleiva commented on #272
Hi there 👋

Would you not be able to create an instance of [`IdentitySigner`](https://metaplex-foundation.github.io/js/types/js.IdentitySigner.html) and provide your own logic for the `signTransaction` and `signAllTransaction` functions?

[2022-09-30 13:06] lorisleiva commented on #273
Hi there 👋

Thanks for raising this.

I'm confused about the proposed solution here.

Are we saying that the filter on the discriminator is the problem and should be removed?

I'm struggling to understand why removing a filter would narrow down the amount of NFTs returned but maybe I got that wrong.

[2022-09-30 13:09] lorisleiva commented on #287
Hi there 👋

`Metadata.findByMint()` is not valid code from the SDK. You must be referencing the previous SDK that has now been deprecated.

[2022-09-30 13:09] #287 closed

[2022-09-30 13:10] #288 closed

[2022-09-30 13:14] lorisleiva commented on #292
Then I think this is a race condition issue. Meaning that we are trying to fetch the created NFT before the transaction has had the chance to finalize. It's on my To-Do list to improve this behaviour on the SDK but for now, you can fix this by adding the following parameter `{ confirmOptions: { commitment: "finalized" } }`.

I'll default to closing this but feel free to ask me to reopen if that do

[2022-09-30 13:14] #292 closed

[2022-09-30 13:17] lorisleiva commented on #303
Thanks for raising this! I'll live this open until v1.4 of Token Metadata is deployed to Mainnet.

[2022-09-30 13:19] lorisleiva commented on #305
Hi there 👋

I'll close this and mark as duplicate since it's already been raised in #303.

Thanks @ninnjak for suggesting a temporary solution.

[2022-09-30 13:19] #305 closed

[2022-09-30 13:22] lorisleiva commented on #307
Hi there 👋

Thanks for raising this!

Unfortunately, I'm going to close this as I don't have the resource to add support for this swcMinify option right now.

Thank you for your understanding.

[2022-09-30 13:22] #307 closed

[2022-09-30 13:26] lorisleiva commented on #310
Hi there 👋

Thanks @ninnjak for providing the solution to this issue.

@shiningsea0415, please open new issues when you get a different error to make it easier for anyone to search through GitHub issues.

Your latest error message is due to the fact that some examples in the `js-examples` repository have not been updated to use the latest SDK version. We're working on upgrading them right now.

Th

[2022-09-30 13:26] #310 closed

[2022-09-30 13:27] #314 closed

[2022-09-30 13:31] lorisleiva commented on #316
Hi there 👋

The latest version (`0.16.0` — published today) contains a PR (https://github.com/metaplex-foundation/js/pull/268) which I believe fixes this issue.

I'll default to closing the issue but feel free to open a new issue using the latest version with updated information if you need to.

[2022-09-30 13:31] #316 closed

[2022-09-30 13:31] #320 closed

[2022-09-30 13:40] cicoph commented on #273
Yes, I can't use the findMintedNFTs methods because it add a discriminator not needed.
[code]

[2022-09-30 13:44] lorisleiva commented on #273
Am I happy to remove the discriminator filter if this creates another issue but I am confused as to why this fixes the problem described as "the results are more than 100k of random NFTs".

[2022-09-30 13:49] lorisleiva commented on #296
Hi again 👋

I've had a look at the Next.js example again and couldn't reproduce this error I'm afraid.

I'm going to close this since we could not reproduce but if you're still getting the same error, please feel free to open a new issue using the latest version and, ideally, providing a public repository containing the minimum code required to replicate this issue.

Thank you for your understandi

[2022-09-30 13:49] #296 closed

[2022-09-30 13:58] cicoph commented on #273
Ah ok. I just tell him to try getProgramAccounts without the discriminator :) to try to fix.

[2022-09-30 13:58] myyellowshoe commented on #320
Yeah not worried to much about that near term, but great to know. Thanks so much for your work on this 👏

[2022-09-30 20:31] aeaa1998 commented on #238
Hi @lorisleiva  thanks for your response 😁.
I've found out that the problem was that the nft I was using to create the candy machine with the collection had an infinite supply.
Thanks for the feedback. 🙌🏻

[2022-09-30 20:31] #238 closed

[2022-09-30 20:43] cosimo-rip commented on #234
perfect timing! skullana fest thanks you 😉

[2022-09-30 20:47] GM-Alex commented on #317
Hi @lorisleiva,

you are totally right I made a typo.

Since, as far as I understand, NFTs and SFTs are a subset of tokens, my idea is to enhance the tokens module in the way that it can create any token with the create command. But since you mentioned that there are tokens without metadata, maybe the module should become a command called `createWithMetadata`. This would make it also easy to creat

[2022-09-30 21:18] myyellowshoe opened #323 "Collection Update authority"
I'm trying to better understand how to add a new nft into a previously created collection. The prior collection is created with the same wallet that the new one is. But the collection doesn't seam to be getting verified. Do i need to create a seperate keypair thats just for update authority or should the wallet keypair be fine?

What i have now:
[code]

[2022-10-01 01:47] Bhaney44 commented on #314
Yeah - just ran this.

[code]
To get:

`ReferenceError: sft is not defined`

I also ran this.

[code]
To get:
`ReferenceError: sft is not defined`

I'm still having the same problem in not understanding the `sft` method. I think you're probably right that I am not calling the operations in the right order, and that I'm overwriting `const` variables. I will try some different arrangements and maybe

[2022-10-02 14:19] shiningsea0415 commented on #310
Hi, thank you for your reply.

I can get nfts using following codes.
let myNfts = await metaplex
   .nfts()
   .findAllByOwner(metaplex.identity().publicKey);

but I cannot create NFT using this code.
let { nft } = await metaplex.nfts().create({
    uri: "http://res.cloudinary.com/dmzpebj2g/image/upload/v1664109071/assets/avatars/l43lcylxscgxuux3cbbz.jpg",
    name: "New NFT",
    sellerFeeBasisPo

[2022-10-02 14:24] shiningsea0415 commented on #303
I got the same issue, and I followed your suggestion. but still got this error.

[2022-10-03 16:25] cosimo-rip commented on #273
FWIW I had the same issue - but mine led to a timeout rather than 100k random NFTs. Removing the line `this.whereKey(Key.MetadataV1);` from the gpa builder did the trick to get back just the right NFTs.

https://github.com/metaplex-foundation/js/blob/c3985c74eb0c9cf9cf9b9423eb73b0665ce22d80/packages/js/src/plugins/nftModule/gpaBuilders.ts#L31

[2022-10-03 19:23] devpake commented on #319
I had the same issue prior to `0.16.0`.  I updated yesterday and reapplied verification, it went through ok.

However, today I created a 2nd SFT with the newest update.  I initially set it with no collection.  Then I updated it to point to collection but now can't verify it.

I also tried creating a new SFT with the collection already defined but same error response.

General outline of steps
[cod

[2022-10-03 21:03] lorisleiva commented on #323
Hi there 👋

You simply need to pass both the collection and the collection authority when creating or updating an NFT.

[code]

I hope this help. 🍀

[2022-10-04 00:36] jesign commented on #319
Thank you Loris! i'll check it out.

On Fri, 30 Sept 2022 at 19:36, Loris Leiva ***@***.***> wrote:

[2022-10-04 17:25] callensm opened #328 "`loadJsonMetadata` option for all NFT module functions"
Add the `loadJsonMetadata` option to all NFT module search functions instead of just `findByMetadata`.

[2022-10-05 01:40] cosimo-rip opened #330 "Candy Machine Mint fails w/Bot Tax exception when confirmation != finalized"
We noticed our minting process took a bit longer than desired, and changed our mint call to wait for confirmed rather than finalized transactions:
[code]

Unfortunately, this leads to a bot tax exception, because the mint method tries to find the minted NFT immediately after the first transaction is completed:
https://github.com/metaplex-foundation/js/blob/4de8d828723dfa23f6486b6a0a6fb7856998952c/

[2022-10-05 03:51] Jack-R-Long opened #331 "`metaplex.nfts().update(nft, onChainData);` works, but returns an error"
Updating NFT name.  The change works but for some reason it throws an error.  Here is the code

[code]

Very strange.  Any help is greatly appreciated!

[2022-10-05 08:56] salman-kryptomind opened #332 "Cannot take this action without auction house signing too"
Hi I'm trying to create an Auction House. But I'm being faced with the error of "Cannot take this action without auction house signing too". How can we make auction house sign our actions using metaplex-foundation/js sdk.

#### Listing code

 ` const { buyerTradeState } = await buyerMetaplex
    .auctionHouse()
    .withdrawFromBuyerAccount
    .bid({
      auctionHouse: ah,
      mintAccount: min

[2022-10-05 10:04] #332 closed

[2022-10-05 10:21] lorisleiva commented on #328
Hi there 👋 Isn't this already the case in the latest version?

[2022-10-05 10:23] lorisleiva commented on #331
Hi there 👋

Which error do you get?

This might not be it but I think there's a typo in the code you shared:

[code]

[2022-10-05 13:55] salman-kryptomind opened #333 "How to create new listing using 0 priced trade state to change the price of listing?"
Hi, I'm trying to make a Solana NFT marketplace where users will be able to bid and seller would be able to select a bid to execute the sale. For that purpose we need to match the listing price with any of the available bids. As you guys mentioned your docs we can create new listings using 0 priced **seller trade state** at different prices. I've attached the reference of the docs below.

![Screen

[2022-10-05 14:08] callensm commented on #328
it is implemented for single item search operations, but `findAllByXXX` multi-item searches do not provide this option.

[2022-10-05 14:31] lorisleiva commented on #328
Oh yeah, that's by design. It would really not be performant to load JSON files from unknown URIs for a list of NFT of an unknown length. Instead, you get a `Metadata` model and you can use the `load` operation to fetch them fully as you wish, e.g. as you paginate them.

[2022-10-05 14:31] #328 closed

[2022-10-05 14:48] callensm opened #334 "Override `JsonMetadata` Type"
Is there a way to provide a custom JSON blob `type` to the result of any of the NFT module functions? All of the resulting `Nft`, `NftWithToken`, etc types force assertion of the `JsonMetadata<string>` type which doesn't work for modified JSON blob structures.

[2022-10-06 03:11] Jack-R-Long commented on #331
Ooop good catch.  So I am getting a timeout error.  Tx could not confirm within 30 seconds.

[2022-10-06 14:39] gabspeck opened #337 "Direct sell method fails for auction houses that require sign off even when passing the authority keypair"
Hello!

I tried to use the newly available direct sell method, however it seems it is ignoring the authority keypair parameter, making it throw the `Cannot take this action without auction house signing too` error. Below is some reproduction code with private keys removed:

[code]

[2022-10-06 15:05] cryptoHaHa opened #338 "Buffer is not defined error"
I am using react js framework, not tsx.
In there, I imported Metaplex and added below code line.
`const metaplex = new Metaplex(connection)`
Then, I got js error "Uncaught ReferenceError: Buffer is not defined". How can I solve this problem?

[2022-10-06 21:40] HereFrank commented on #272
Can explain me better this comment?
Right now to change the update authority I have to do these...
[code]
I have to create a separate instruction where I establish the newUpdateAuthority....
I just want be able to make these please...
[code]
Being newUpdateAuthority a `Publickey` not a `Signer`

[2022-10-07 00:44] myyellowshoe commented on #323
Ahhh ok this works perfectly now! and looks like I had a variable named wrong as well. Nothing like a couple days away to show you the obvious :D

I really do appreciate all the work on this!

[2022-10-07 00:44] #323 closed

[2022-10-07 15:05] haris-aqeel opened #341 "Add an operation that finds the owner of an NFT"
I am able to get NFT details from the NFT mint address using metaplex.

![image](https://user-images.githubusercontent.com/56465230/194302428-6014976d-90a6-438d-99c0-24ddc410b8f3.png)

The above part is my code and in response I am getting a long NFT object, which contains

`type Nft = Readonly<{
    model: 'nft';
    address: PublicKey;
    metadataAddress: Pda;
    updateAuthorityAddress: Public

[2022-10-07 15:21] lorisleiva commented on #341
Thanks for registering this feature request!

[2022-10-08 14:27] KhalilElati opened #343 "@metaplex-foudation/js is creating an error (class extends value undefined is not a constructor or null )"
![Capture](https://user-images.githubusercontent.com/59478433/194712438-ef7d54ad-d3a5-4315-b463-e91b97abeddf.PNG)

[2022-10-08 18:43] KartikSoneji commented on #343
Hi

Can you please provide some more details?
Like what code you are trying to run, what framework you are using (React/Vanilla/Vue/etc)

[2022-10-08 18:49] KhalilElati commented on #343
I am using a react app, and this is the piece of code that's triggering the problem
const metaplex = Metaplex.make(connection)
everything works except this line,

[2022-10-08 18:54] KartikSoneji commented on #343
Would you mind creating a repository with the source code for that app?

[2022-10-09 05:40] knivets commented on #223
Unfortunately I agree with OP. This package feels like reinventing the wheel: it adds a wrapper around most of the @solana/web3 or spl-token functions. Why do we need transactionBuilders? Here's another problem I'm struggling with right now: metaplex.nfts().create() fails because it can't confirm the tx (even though it ends up being processed), so I'm trying to do same operation but using my own s

[2022-10-09 05:42] knivets commented on #223
The docs are also not clear, how the metaplex.nfts().create() method relates to the old "create candy machine & mint a token" approach. If I create an NFT through the `create()` method, is there a corresponding candy machine account created? Or do we bypass the candy machine minting process and communicate with token metadata program directly. If that's the case would there be any issues for that

[2022-10-10 23:52] craigbroadbear opened #344 "intermittent error 'Account Not found' when calling printNewEdition"
On mainnet-beta, happens about 30% of the time, using same wallet each time.   Happens 0% of the time on devnet.

Using @metaplex-foundation/js  0.17.0

Code:
[code]

Exception:
`file:///C:/dev/ebook/ebook-server/node_modules/@metaplex-foundation/js/dist/esm/types/Account.mjs:28
throw new AccountNotFoundError(account.publicKey, name, {
^
AccountNotFoundError [MetaplexError]: Account Not Found

add

[2022-10-11 07:32] shiningsea0415 opened #345 "Error while creating NFT"
I am trying to create NFT using metaplex-foundation/js module.
I installed the lastest versions.
But I cannot create even sample example NFT.

Here is the code.
let { nft } = await metaplex
      .nfts()
      .create({
        uri: "/fallbackImage.jpg",
        name: "New NFT",
        sellerFeeBasisPoints: 500
      });

First, I tried on testnet
But I got this error.
`{
	"jsonrpc": "2.0",
	"err

[2022-10-11 13:27] skeletoncrewrip commented on #330
Makes sense - thanks for outlining the tx builder option too. Good to close!

[2022-10-11 13:35] #330 closed

[2022-10-11 19:02] acheroncrypto opened #346 "`0.17.0` does not work with browsers (CRA5)"
For easy reproducability, upgrade to version `0.17.0` in the example repo: https://github.com/metaplex-foundation/js-examples/tree/main/getting-started-react-cra5 and try to fetch a v3 account:
[code]

This throws an error: `(0 , _types_BigNumber_mjs__WEBPACK_IMPORTED_MODULE_3__.toBigNumber)(...).toBuffer is not a function`

[2022-10-12 07:59] lorisleiva commented on #345
Hi there 👋

Do you get the same error on `devnet` or `mainnet-beta`? I've got a feeling `testnet` doesn't have all the latest programs.

[2022-10-12 08:04] #346 closed

[2022-10-12 08:07] lorisleiva commented on #346
Thanks again for this! The fix has been published in version `0.17.1`. 🚀

[2022-10-12 08:42] craigbroadbear commented on #344
I tried suggestion, unfortunately it did not work.   I was hopeful as the first 2 printNewEditions worked fine, but it bombed out on the third, same as before.

[2022-10-12 10:22] craigbroadbear commented on #344
The transaction failed to create the NFT.  I followed up with a "findAllByOwner" and it was not in the list returned.

[2022-10-13 12:12] lorisleiva commented on #344
Oh, that's interesting! I assumed this was a race condition issue but actually, it seems like it's a transaction being dropped by the blockchain. That being said, the `sendAndConfirm` call should fail because the transaction was not confirmed. Instead, it seems to not throw an error and, later on, when we try and fetch the NFT, it fails because it can't find it.

I don't really know how to fix thi

[2022-10-13 22:09] craigbroadbear commented on #344
Same error, different call.  This one on creating the "master" NFT.

On closer inspection, the NFTs are being created.

You can see the error below the mint is JC3LqP7MQyzd9Dgyt8kNAvYwaEXmZsdXS8g8vMyyoHgY, which does exist on the blockchain.

[code]

 Exception:

[code]

[2022-10-13 23:37] craigbroadbear commented on #344
Is there a way to avoid findNftByMint() being called?  I don't need the results from that call.

[2022-10-14 00:02] craigbroadbear commented on #344
Ok I fixed the problem, but its not ideal.

I edited the file:
@metaplex-foundation\js\dist\esm\plugins\nftModule\operations\findNftByMint.mjs

Adding a pause of 1 second before the findNftByMintOperationHandler.handle function did anything.
i.e.

[code]
I then minted 40 or so NFTs without any problems.  This lets me move on for now, but would appreciate someone take a closer look at this.

[2022-10-14 02:44] #331 closed

[2022-10-14 10:22] KartikSoneji commented on #343
Hi @samia-invozone
If you are facing the same issue can you please provide a minimum reproducible example, or the steps you took to setup the project so I can replicate it?

[2022-10-14 10:33] samia-invozone commented on #343
@KartikSoneji Actually, It's a private project. If I share package.json can you figure it out by installing node_modules in your react app?

[2022-10-14 10:47] lorisleiva commented on #343
@samia-invozone Can you please create a new public repository that contains the minimum amount of code to reproduce this error?

Also, did you follow the polyfill steps mentioned in the [js-examples repository](https://github.com/metaplex-foundation/js-examples)?

[2022-10-14 10:49] KhalilElati commented on #343
Hey, you can update the metaplex/js to 0.18.1 it works fine, it's not a solution but it fixes the issue.

[2022-10-14 12:53] shiningsea0415 opened #350 "How to implement non-transferable NFT using Metaplex JS SDK?"
Hi
I am trying to make my mint NFT as a non-transferable token(soul bound token).
But I am not sure how to implement this using metaplex/js SDK.
Please help me.

[2022-10-14 13:41] lorisleiva commented on #343
I'm confused, version 0.18.1 does not exist on this SDK.

[2022-10-15 18:45] KartikSoneji commented on #343
Hi @aeaa1998
Is there any particular reason you are polyfilling the crypto module?

[2022-10-16 12:44] cmitjans-at-wiris opened #352 "Signature verification failed when creating Nft"
I'm trying to create a simple nft using Metaplex Foundation library in a Nuxt 3 project.

The code I'm using:

[code]

I'm getting the following error:

[code]

Am I missing something?

[2022-10-16 13:31] cmitjans-at-wiris commented on #352
I'm also getting this ugly warning with Brave Wallet before signing the transaction (which fails with the error described).

<img width="875" alt="Screenshot 2022-10-16 at 15 29 26" src="https://user-images.githubusercontent.com/79908984/196038131-e24fb2e8-3224-4c60-8b28-9485c8298c3f.png">

With Phantom Wallet, I'm getting this "Transaction Expired" error message:
<img width="826" alt="Screenshot

[2022-10-16 14:51] lorisleiva commented on #352
That's an issue with the Vue library for wallet adapters. I'm working on a new version as we speak which supports the new requirements of web3.js.

Closing this since it's not related to this package.

[2022-10-16 14:51] #352 closed

[2022-10-16 20:58] m4thfr34k commented on #341
Second this feature request

Also using nextjs and using a combination of metaplex functions and getTokenLargestAccounts inside of the getServerSideProps to get all of the data needed.

Having the owner of the NFT be returned with the other NFT data in functions such as findbymint would be helpful.

https://solanacookbook.com/references/nfts.html#how-to-get-the-owner-of-an-nft

[2022-10-17 14:52] aerctic commented on #352
Having the exact same `Signature verification` issue with react/nextjs.

[2022-10-17 14:55] lorisleiva commented on #352
@aerctic Are you using Phantom? If so, can you make sure that the Network used in the Phantom settings matches what your dApp is requesting?

[2022-10-17 14:57] aerctic commented on #352
@lorisleiva I forgot to run `npm update` 😬 works perfectly now, thanks for the reply! :D

[2022-10-18 07:27] shiningsea0415 commented on #345
Hi, It works on mainnet and devnet.
Thank you

[2022-10-18 08:29] lorisleiva commented on #345
Thanks for confirming! I don't think Metaplex's programs are fully deployed on testnet so best to use devnet instead.

[2022-10-18 08:29] #345 closed

[2022-10-18 18:27] amilz commented on #344
In case this is helpful:

i just updated an nft mint script i use to `0.17.2` and got this same error when running
`await METAPLEX.nfts().create({...})` on `devnet`:

[code]
The NFT is minted despite this error--so the issue is in finding the NFT rather than confirming its mint. I got the error 3 times in about 10. Also 1x returned a blockhash error:

[code]

I added `{ commitment: 'finalized' }`

[2022-10-19 00:49] Bhaney44 commented on #313
@samuelvanderwaal Is there a free method for storage that works? I went through the list and the issue is every option either requires a login or a fee. I've never seen anything like this on any other blockchain. Intuitively, I don't understand this design choice. It would make sense to standardize this so creators could simply upload an image. Any suggestions or guidance would be appreciated. Tha

[2022-10-19 14:22] duythien0912 opened #354 "ReferenceError: AbortController is not defined"
Error when I try create NFT with getting-started-expressjs examples with

    "@metaplex-foundation/js": "^0.17.2",

[code]

It throw error:

[code]

[2022-10-19 14:51] duythien0912 commented on #354
Error because I used node 14 and only support node > 15
Switching to node 16 fixed this bug
But we should add node version required on the lib

[2022-10-19 23:23] surenzeroonelabs commented on #343
We had the similar issue. The culprit for us was `@bundlr-network/client`. To solve it we forked and removed `js-plugin-nft-storage` entirely. Along with that we made sure there is no peer dependency to `@bundlr-network/client`.

This is the issue only for browser builds for nodejs it runs fine.

[2022-10-19 23:48] surenzeroonelabs opened #356 "Resolve PDA from an address"
In previous version of `@metaplex-foundation/js` we could calculate `tradeStateAddress` using `findAuctionHouseTradeStatePda`. But the new version does not export `findAuctionHouseTradeStatePda` anymore.

However we have stored the PDA address for `tradeStateAddress` in our db, that we got from a listing. Is there anyway we can
use to convert a PDA string to PDA object? We need it for `directBuy`

[2022-10-19 23:52] surenzeroonelabs commented on #356
Never mind just saws this https://github.com/metaplex-foundation/js/blob/main/packages/js/src/plugins/auctionHouseModule/operations/createListing.ts#L332

[2022-10-19 23:52] #356 closed

[2022-10-20 09:15] #354 closed

[2022-10-20 11:42] samia-invozone opened #357 "MetaplexError: AuctionHouse > Auctioneer Authority Required"
After running the delegate instructions of the Auctioneer Program, My previous code for fetching the AH details is no more working. It says Auctioneer Authority is also required but when I pass the authority parameter it gives an error. Below is the code for fetching auction house details:
`const auctionHouseObj = await metaplex
        .auctionHouse()
        .findByAddress({
            address:

[2022-10-20 17:50] mjzuppe commented on #344
@lorisleiva Hello! If helpful, these errors started occurring for me in the past week or so while on V.0.15
I just upgraded and it still intermittently occurs (less often then more often). However, it's typically happening when running `printNewAddition`

If you have any direction for me to help test, let me know.

[2022-10-20 22:29] surenzeroonelabs commented on #343
Upon further investigation, we found that the value of `Account` is null or undefined in this line https://github.com/near/near-api-js/blob/37ca2222e7afda3b77929d695b9d84bba21b418e/packages/near-api-js/src/account_multisig.ts#L51

`near-api-js` is a dependency to `@bundlr-network/client`.

The local build works but the build from our pipeline at `netlify` fails.

[2022-10-20 22:34] aeaa1998 commented on #343
@KartikSoneji  Hi! Sorry for the late reply.
To be honest that was just copied it from the JS example of Vite configuration.

I migrated to Webpack 5 and updated the @metaplex-foundation/js to v0.17.1 and everything worked fine again.

[2022-10-21 04:52] surenzeroonelabs opened #359 "Transaction message version 32 deserialization is not supported"
[code]
I got above error message when I tried to simulate a `directBuy` transaction at `https://explorer.solana.com/tx/inspector`.
The transaction was created using `"@metaplex-foundation/js": "0.17.2"`. The wallet was also unable to simulate the it.

Can you please help me understand what above error means?
Is it that transaction might be correct but the transaction message version is new so cann

[2022-10-21 18:05] amilz commented on #344
Occasionally hitting a similar issue minting from a candy machine using SDK:
[code]
NFT is actually getting minted, but there's an issue fetching the NFT. This is not happening 100% of the time.
[code]

[2022-10-21 18:15] lorisleiva commented on #344
Hey all 👋

Thanks for all the reports. I honestly have no idea why, using the `finalized` commitment, we would end up in a race condition where the created account is not yet accessible via the blockchain.

[2022-10-24 13:49] serejke opened #369 "SDK support for the Fixed Price Sale contract"
Hello!
I'm extensively using that metaplex JS library for NFT minting/exploring. That's awesomely convenient!

Now I'm researching on the best smart-contract for implementing NFT sales. At the moment we're going to have only the sales of a fixed price.
I used to work with AuctionHouse and it definitely has all the features that we need, and even much more than that. The downside is its complexity.

[2022-10-24 17:58] tjkyner commented on #350
Hello!

I believe you're looking for the `freezeDelegatedNft` method ([see docs](https://metaplex-foundation.github.io/js/classes/js.NftClient.html#freezeDelegatedNft)). Something like the following should work:

[code]

For a good overview on the intricacies of the instruction and the accounts layout, see [this post](https://github.com/metaplex-foundation/metaplex-program-library/issues/470#issue

[2022-10-25 06:58] zain-ekkel commented on #200
Hey, any update on this ?

[2022-10-25 14:46] mjzuppe commented on #344
As an FYI, the rate of this error seem to be increasing. I did attempt @craigbroadbear 's patch as well as a few others to no avail at the moment.

[2022-10-25 22:05] akinwol opened #372 "Can't create Candy machine v3 in devnet"
For reference I am following the v3 Candy Machine docs [https://docs.metaplex.com/programs/candy-machine/managing-candy-machines](url)

I am attempting to create a new candy machine in devnet but getting an error.

**Steps to reproduce**

1. Created a new collection

[code]
2. Attempted to create a new candy machine like the docs recommended

[code]
3. The above did not work. I am getting these  e

[2022-10-25 23:24] craigbroadbear commented on #344
My fix was for esm type modules only.

[2022-10-27 02:26] mjzuppe opened #375 "unable to input ATA in newTokenAccount printNewEdition"
In seeking to diagnose and test another issue within this framework, I attempted to use `newTokenAccount` parameter in `metaplex
    .nfts()
    .printNewEdition({originalMint:, newOwner,  newTokenAccount }, operationsOptions);`

The language implies that this would be a parameter to feed an existing ATA, however the type is `Signer` which you can't generate for an ATA. It's used in `createTokenBu

[2022-10-27 06:43] m4thfr34k opened #376 "Receiving toArrayLike error when using auctionHouse list function"
Unable to utilize the  auctionHouse().list({}) or auctionHouse().builders().list({}) functions due to receiving toArrayLike error

Steps to reproduce:

Example repo which produces the error is located at https://github.com/m4thfr34k/metaplex-auction-list

[code]
Error received is
[code]

Have tried with and without .builders() and received the same error.

Am I doing something wrong here?

Thank y

[2022-10-27 07:41] RustySol opened #377 "Error: signature must be base58 encoded"
I tried to upgrade the `@metaplex-foundation/js` from `0.15.0` to `0.17.3` due to the change here https://github.com/metaplex-foundation/js/blob/e9a4ece6530381b11e3f6909f4274482f44cef6b/packages/js/src/plugins/nftModule/operations/createNft.ts#L401, I followed the instruction at https://github.com/metaplex-foundation/js/releases/tag/js%2Fv0.17.0 to remove the `.run()` usage.

But the follow code s

[2022-10-27 08:49] RustySol commented on #377
I Upgraded to ` "@solana/web3.js": "^1.66.2",` Didn't really help. I suspect it has something to do with wallet-adapters?

Putting my project wallet adapter versions here for ref also
[code]

[2022-10-27 09:50] lorisleiva commented on #377
That's also likely to make a difference. If I remember correctly, you can jump to the latest versions without too many code changes (if any) so it's worth a try.

[2022-10-27 10:01] lorisleiva commented on #375
Hi there 👋

The `newTokenAccount` attribute is used to provide an explicit token account that is **not** the ATA.

When this attribute is provided, it will create a new "regular" Token Account at the address provided, which is why we need it to be a Signer.

If you simply want to pass in the ATA address then you must pass the `newOwner` attribute instead which defaults to the current identity.

[2022-10-27 10:01] #375 closed

[2022-10-27 11:41] lorisleiva commented on #376
Hi there 👋

The `tokens` property must be of type `SplTokenAmount`.

[code]

If your token uses decimals and a symbol then you can provide this information like this.

[code]

[2022-10-27 11:41] #376 closed

[2022-10-28 00:31] RustySol commented on #377
I managed to upgrade the wallet adapters
[code]

and with
[code]
Am still running into the same issue.

[2022-10-28 16:54] RustySol commented on #377
I narrowed down the issue further
[code]
The issue is still persisting. @lorisleiva Any ideas? Thanks

[2022-10-28 17:25] RustySol commented on #377
Nvm I ended up doing something hacky

[code]

[2022-10-28 17:25] #377 closed

[2022-10-29 17:47] indynov opened #381 "Issue using metaplex.nfts().create() on Quicknode"
Using Quicknode either Mainnet/Devnet I get this error when I attempt to use metaplex.nfts().create()
[code]

[2022-10-30 03:15] indynov opened #382 "metaplex.nfts().create() Primary Sale Happened"
I was looking at the options here and noticed Primary Sale Happened isn't listed https://metaplex-foundation.github.io/js/types/js.CreateNftInput.html

https://docs.metaplex.com/programs/token-metadata/accounts

Could you offer this as a configuration option for metaplex.nfts().create()?

[2022-10-30 13:38] kevinfaveri opened #383 "Create a batch reveal transaction"
Basically title, this is a feature suggestion: add batch reveal transaction creation function; goals is to allow to, on a single transaction, batch update the NFT mint on chain "URI" field, for example, for multiple NFTs on the same transaction.

[2022-10-31 03:07] royalrust opened #384 "TypeError: Metaplex is not a constructor"
I encounter a strange problem and confused me for several days. in a class definition:
[code]
In test case, getMetaplex() return the expected result and no error occured. But when I use ```yarn start``` and in browser(chrome), the browser console says:
```Uncaught (in promise) TypeError: Metaplex is not a constructor. ```
and error points to the source line:
```this.metaplex = new Metaplex(connect

[2022-10-31 08:30] lorisleiva commented on #384
Hi there 👋

It looks like you're trying to import an ESM module in CommonJS.

If you're writing code for the browser, I recommend using ESM imports (`import { Metaplex } from '...'`) unless you have a bundler that can fix that for you.

Closing this as this is not an issue with the SDK.

[2022-10-31 08:30] #384 closed

[2022-10-31 09:44] surenzeroonelabs opened #385 "Auction house's direct buy operation fails at mainnet."
We have been trying to build a market place using `Metaplex Auction House`.  At the moment we are using `@metaplex-foundation/js` version `0.17.3`.  We have been directly using the operation functions here `https://github.com/metaplex-foundation/js/tree/main/packages/js/src/plugins/auctionHouseModule/operations` . So far we have been successful at `listing` a NFT but unsuccessful at making a `dire

[2022-10-31 12:24] indynov opened #386 "Issue with metaplex.nfts().findAllByCreator() on Alchemy"
With this script pastebin.com/raw/9Hh23x2z it puts the output in a file called test_results.txt, if you run it on Alchemy you will see 0 results in it, if you run it on Quicknode you will see around 5000 results - the results of everything in the collection "Mystopians"

[2022-11-01 00:26] dn-l commented on #381
Getting same errors on Quicknode, didn't try other nodes

[2022-11-02 03:01] indynov opened #389 "Add metaplex.nfts().delete() command to Help / README.md pages"
Can you add the metaplex.nfts().delete() command to the README.md and any resources that describe the API for this? I noticed it in https://docs.metaplex.com/guides/burn-nfts it would be helpful to add the API command in the reference and link to this article.

[2022-11-02 15:40] indynov opened #393 "metaplex.nfts().findAllByCreator() suggestion"
It takes a long time for the command to process often. Would be nice to have updates to the console on progress. Every 100 NFTs it could say
"findAllByCreator in progress, found so far: 100 NFTs"
"findAllByCreator in progress, found so far: 200 NFTs"
And so on, would be very easy to implement but give some user feedback. It's possible that by default commands could give more user feedback but you

[2022-11-02 21:43] rockdev055 opened #397 "Cannot get my auctionHouse when I set auctioneerAuthority"
I have an issue when I set auctioneerAuthority to get auctionHouse. How can I fix this issue?

[code]
![image](https://user-images.githubusercontent.com/30362975/199608183-2e130a76-791a-40e0-9cfd-02ab0c8fd596.png)

[2022-11-03 03:58] surenzeroonelabs commented on #385
Here is a similar transaction that failed.
https://solscan.io/tx/3yXa41amSECs1LWKepgwaG9nP9R1JPyerkon5UoCHbZ8qqMWn4rRPh4EveebX2dSjSGwEE6hD8wW6CKqmjVhNWEy

The account at index 9 is `8oyiAmKBqyNR5vSgfrDii9QtuY62RG5DmpoTUxyNiU7g` it is our `Auction House Fee Account`. Not sure why it has trouble executing the `directBuy` operation.

@lorisleiva Happy to help with further more information if you coul

[2022-11-03 11:07] lorisleiva commented on #397
Hi there 👋

I think this is because the Auctioneer account data has changed relatively recently on the program and the SDK is not up-to-date on Auctioneer yet.

It's on my To-Do list but in the meantime, I recommend you use the autogenerated JS libraries as they will be up-to-date.

[2022-11-03 12:01] rockdev055 commented on #397
Hi @lorisleiva,

Thank you for your response.

Can you please let me know how to go back? I just wanted to remove the Auctioneer delegate from the Auction House.

Is it possible?

[2022-11-07 20:42] ilanoh opened #400 "metaplex.nfts().findAllByOwner() doesn't work"
Hello, interesting enough, but not expected, not matter which wallet is provided to this call:

user = new PublicKey("...")
metaplex.nfts().findAllByOwner({ owner: metaplex.identity().user }).run()

Metaplex returns always the list of NFTs of a fixed wallet, that was never provided in the first place.
I input 'x' different wallet, I always receive the NFTs list of a wallet 'y', that I don't own, a

[2022-11-09 17:38] gesielrosa commented on #385
Hello.
You need some SOL in you `FeeAccount`.

[2022-11-09 17:49] gesielrosa commented on #369
Hello.
Isn't Direct buy from Auction House a option to you? i'm using it.
In Auction House, you can list the assets with price, after that, buy using direct buy operation.

[2022-11-09 17:52] gesielrosa commented on #338
Buffer is not a browser feature. You need to install `buffer` package.
To read more: [here](https://stackoverflow.com/questions/48432524/cant-find-variable-buffer)

[2022-11-09 17:59] gesielrosa commented on #400
Try it

[code]

[2022-11-09 21:31] matlirman commented on #381
Getting same error - any update on this?

[2022-11-10 13:02] gesielrosa opened #402 "Add a operation to list NFTs by collection"
Is an easy way to list NFTs by collection a good idea?

[code]

This is the only way I've found to do it:
[Get Collection Crawler](https://github.com/metaplex-foundation/get-collection)

[2022-11-12 15:15] leonidstrelok commented on #286
And which version of metaplex do you use? I just use metaplex too, but it's called a little differently for me. More specifically, metaplex.auctionHouse().create(). As an example, creating an auction. But what to do next, I don't even have a clue in what order you need to create all this. Tell me please

[2022-11-12 15:23] leonidstrelok opened #405 "TokenLendingError#AlreadyInitialized: Account is already initialized"
Executing the code:
const createAuction = async (
  nftAddress: PublicKey
): Promise<CreateAuctionHouseOutput> => {
  const auction = await metaplex.auctionHouse().create(
    {
      sellerFeeBasisPoints: 500,
      requiresSignOff: true,
      auctioneerScopes: [0, 1, 2, 3, 4, 5, 6],
      authority: metaplex.identity().publicKey,
      treasuryMint: nftAddress,
      canChangeSalePrice: true,

[2022-11-13 02:39] SaladAuthority commented on #381
From my understanding of this issue, Quicknode indexes data from Solana blockchain, so its data from READ operations may be stale sometimes. I could be wrong in this point though as its an assumption on my end

The CreateNft operation has a race condition where it `builder.sendAndConfirm`s and then calls `nfts().findByMint` right after, expecting `nfts().findByMint` to have fresh data.

I worked a

[2022-11-13 14:41] KartikSoneji commented on #393
Both `findAllByCreator()` and `findAllByUpdateAuthority()` make only a single rpc call to the `getProgramAccounts` method.
The nfts are returned all at once, not incrementally so there is no good way to implement an accurate progress meter.
The time taken by the rpc to return the accounts varies greatly by the provider, which node is handling the request and how active the network is at the moment

[2022-11-13 14:43] KartikSoneji commented on #383
Due to transaction size limitations on solana, that is not possible.
However if the goal is to only click approve once in the wallet popup then you can do that by using builders and converting them to transactions before calling the `wallet.signAllTransactions()` method.

[2022-11-13 14:50] #393 closed

[2022-11-13 21:45] surenzeroonelabs commented on #385
@gesielrosa Thanks for the response buddy. Yeah, I too think so. Couldn't find any way to transfer some SOL there.
I tried it with the my wallet but the wallet complains that `FeeAccount` address is not a valid address. There does not seem to be any command in auction house cli either.

Do you know of any method that would allow me to transfer SOL to the account?

[2022-11-13 21:58] surenzeroonelabs commented on #385
Actually I was able to transfer some SOLs using `solana transfer`

[2022-11-13 22:30] SaladAuthority commented on #381
I opened a pull request for this issue:

https://github.com/metaplex-foundation/js/pull/406/files

Tested by building locally and confirming the "Account Not Found" error doesnt show up anymore

[2022-11-14 03:12] surenzeroonelabs commented on #385
Closing it, the transaction started to work in mainnet. Not sure what fixed the issue though.
We transferred some fund to `fee account`, it didn't fix the issue.
We explicitly passed the buyer `signer` value to the `direct buy txn builder`. That might have solved it.
Or the smart contract itself might have been fixed.

[2022-11-14 03:12] #385 closed

[2022-11-14 05:03] gxxcastillo opened #407 "Migrating "old" Auction code"
Hi, a while back I wrote a client for creating auctions (w/ a reserve price, tick size, etc) using a DAO where all bidders get a participation NFT.  When I recently went to update this client I found that a lot of the underlying code it depends on has changed significantly.

Currently, I'm leaning on packages like `@solana/web3.js`, `@metaplex-foundation/mpl-core`, `@metaplex-foundation/mpl-auctio

[2022-11-14 11:33] lorisleiva commented on #381
Hi there 👋

Thanks for raising this, see my comment here for an explanation of what's happening and how I'm planning to tackle this whenever I can. 🙂

https://github.com/metaplex-foundation/js/pull/406#issuecomment-1313539571

[2022-11-14 14:47] gesielrosa commented on #405
`treasuryMint` is not the NFT address.

![Screenshot 2022-11-14 at 11 47 35](https://user-images.githubusercontent.com/40439982/201689946-5ed713b7-180f-4134-bf86-41157c7e0ac0.png)

[2022-11-14 15:18] leonidstrelok commented on #405
@gesielrosa And can you please tell me in what order you need to create an auction

[2022-11-14 17:58] SaladAuthority commented on #381
Thank you Lorisleiva for your work!

Our hunch is correct that Quicknode takes some time to get the fresh data, from my recent correspondence with Quicknode, pasted below:

[code]

[2022-11-14 18:10] indynov commented on #381
Should use the retry technique until it is found before proceeding as that fixes the issue of "Mint Account Not Found" and also use the x-session-hash: header for Quicknode but cannot rely on it always since they say it will only improve and not guarantee the stickiness.

[2022-11-17 05:36] KartikSoneji commented on #381
@SaladAuthority

The whole point of a consensus mechanism is to avoid this exact problem.
When a transaction is finalized, it should be propagated to most of the nodes in the cluster.
Quicknode might be doing something different for read vs write transactions here.

@indynov
The `x-session-header` hash is a good idea, you can add that directly to the `Connection` object.

[(docs)](https://solana-l

[2022-11-17 05:38] KartikSoneji commented on #386
Can you please confirm that this is not an issue with Alchemy?
Maybe they are blocking the `getProgramAccounts` method on their rpc since it is quite a resource-intensive call.

[2022-11-17 05:42] KartikSoneji commented on #273
I suspect some provider is using a bad custom implementation of `getProgramAccounts` where they assume/allow only one memcmp filter.

[2022-11-17 05:47] KartikSoneji commented on #343
Might be resolved by metaplex-foundation/js-examples#30

[2022-11-17 05:49] KartikSoneji commented on #400
Hi @ilanoh
Can you please provide a running example that we can use to debug this?

[2022-11-20 18:22] leonidstrelok opened #411 "Creating an auction"
Please tell us in what order you need to create an auction for the sale of TAE and the purchase of NFT

[2022-11-21 15:47] mikemaccana commented on #148
@nikhilasrani Thanks for putting in your solution - it certainly helped me! I think the issue should remain open though as `Failed to pack instruction data` doesn't really help metaplex developers know the cause of the issue is an insufficient balance. Likewise other Solana apps - SPL, web3, etc. - simply say `insufficient balance` in this scenario.

Version is `@metaplex-foundation/js@0.15.0` - w

[2022-11-22 22:58] KartikSoneji commented on #407
I'm not too familiar with auction house but does https://github.com/metaplex-foundation/js/pull/366 help?

[2022-11-23 10:49] lorisleiva commented on #407
Hey @gxxcastillo, yes the new Auction House program basically replaces the need for Auctions and Token Vault. There is an Auction House module of this JS SDK but it's not 100% finished yet and therefore not quite ready to be documented I'm afraid.

[2022-11-23 10:53] #400 closed

[2022-11-23 14:22] lorisleiva opened #414 "Test issue"
This is a test issue, testing label automation.

[2022-11-23 14:52] #407 closed

[2022-11-23 15:02] #414 closed

[2022-11-23 15:11] #338 closed

[2022-11-23 15:12] #350 closed

[2022-11-23 15:12] #405 closed

[2022-11-23 15:12] #402 closed

[2022-11-23 15:15] #397 closed

[2022-11-23 15:16] lorisleiva commented on #389
In your case, you might be better off posting in the "Documentation" category.

https://metaplex.canny.io/developers?category=documentation

[2022-11-23 15:17] #411 closed

[2022-11-23 15:17] #386 closed

[2022-11-23 15:25] lorisleiva commented on #372
Hi there, I'm not sure what could be causing this issue. The error code 0x3f is not even registered by the Candy Machine Core program. Are you still running into this issue?

[2022-11-23 15:26] #369 closed

[2022-11-23 15:27] #359 closed

[2022-11-23 15:28] lorisleiva commented on #357
The Auctioneer part of the Auction House module is not working properly yet I'm afraid. This is part of the reason why it's not documented yet.

[2022-11-23 15:37] lorisleiva commented on #277
Hi there, this is due to a delay between the transaction being finalized and the data being available on your RPC node.

See https://github.com/metaplex-foundation/js/issues/344#issuecomment-1325265657

[2022-11-23 15:38] #343 closed

[2022-11-23 15:39] lorisleiva commented on #341
Hi there, we're moving feature requests to Canny.io so people can upvote and comment on their favourite feature requests. I'll add the "feature request" label to this issue so the label automation triggers the automated message. Thanks for your understanding. 🌸

[2022-11-23 15:39] #341 closed

[2022-11-23 15:48] lorisleiva commented on #337
Hi there,

Sorry for the late reply.

I'm not sure if this is the issue but when running `metaplex.use(keypairIdentity(ownerKeypair))`, you're telling the entire SDK that this is the new wallet they should use for everything by default which could create some unexpected behaviour if you change them frequently.

I'm going to close this for now because the Auction House module is not 100% ready yet

[2022-11-23 15:48] #337 closed

[2022-11-23 15:50] #333 closed

[2022-11-23 15:54] lorisleiva commented on #317
Hi there, sorry for the late reply. I think what you're saying makes sense and I'm likely going to change the structure of that module in the future but most people would prefer a high abstraction when creating SFTs and NFTs than using a token module and adding metadata to it.

IMO it mostly comes down to finding a better name for the NFT module as it encapsulates both NFTs and SFTs. Something lik

[2022-11-23 15:54] #317 closed

[2022-11-23 15:56] lorisleiva commented on #303
Closing this as this was an issue with version mismatch between the program and the client libraries which should now be fixed. Please raise another issue if the problem persists.